# FIT5196 Task 1 in Assessment 2
#### Student Name: Boyu Zhang
#### Student ID: 28491300

Date: XX/XX/XXXX

Version: 1.0

Environment: Python 3.6 and Jupyter notebook

Libraries used: please include the main libraries you used in your assignment here, e.g.,:
* pandas (for dataframe, included in Anaconda Python ) 
* re (for regular expression, included in Anaconda Python 3.6) 
* itertools(for creation of string pairs, included in Python 3.6)
* numpy (for numpy array, included in Anaconda Python 3.6) 
* jellyfish (for string similarity computation,various algorithms, obtained by `pip install jellyfish`)

## 1.  Import libraries

In [1]:
# Code to import libraries as you need in this assessment, e.g.,
import pandas as pd
import numpy as np
import re
from itertools import combinations
import jellyfish

## 2. Load data and exploration

In [2]:
df1 = pd.read_csv('./Input/dataset1_with_error.csv')

In [3]:
#overview of the dataset
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25077 entries, 0 to 25076
Data columns (total 11 columns):
Id                  25077 non-null int64
Title               25077 non-null object
Location            25077 non-null object
ContractType        25077 non-null object
ContractTime        25077 non-null object
Company             21242 non-null object
Category            25077 non-null object
Salary per annum    25077 non-null object
SourceName          25077 non-null object
OpenDate            25077 non-null object
CloseDate           25077 non-null object
dtypes: int64(1), object(10)
memory usage: 2.1+ MB

In [4]:
df1.describe(include=['O'])

,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
count,25077,25077,25077,25077,21242,25077,25077,25077,25077,25077
unique,25077,482,3,3,4879,8,1589,90,2203,2400
top,"Carpentry Trainer / Technician (Assessor, Voca...",UK,not available,permanent,UKStaffsearch,IT Jobs,35004,totaljobs.com,20130127T150000,20130526T120000
freq,1,3996,19499,16194,248,7085,1011,5335,27,23

In [5]:
#number of missing values in each column
df1.isnull().sum()

Id                     0
Title                  0
Location               0
ContractType           0
ContractTime           0
Company             3835
Category               0
Salary per annum       0
SourceName             0
OpenDate               0
CloseDate              0
dtype: int64

### Highlight of initial investigation
- There are 9 columns of categorical values, and 2 column of numeric values -- `Id` and `Salary`
- There are a lot of missing values in the `Company` column
- There must be issue with the column `Title` since the most frequent value is like "** *Ton**"which is obviously invalid
- The most frequent value of `Location` is "UK" which suspicious
- There are potential semantic anomalies :
    - unique values can have redundance
    - The violation of two Date
- There can be sytax anomalies:
     - inconistent representation of values in the same column
     - invalid value of categorical values

In [6]:
#first glance of the dataset
df1.head()

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
0,12612628,Engineering Systems Analyst,Dorking,not available,permanent,Gregory Martin International,Engineering Jobs,24996,cv-library.co.uk,20121103T000000,20121203T000000
1,12612830,Stress Engineer Glasgow,Glasgow,not available,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,20130108T150000,20130408T150000
2,12612844,Modelling and simulation analyst,Hampshire,not available,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,20130726T150000,20130924T150000
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Surrey,not available,permanent,Gregory Martin International,Engineering Jobs,27504,cv-library.co.uk,20121214T000000,20130314T000000
4,12613647,"Pioneer, Miser Engineering Systems Analyst",Surrey,not available,permanent,Gregory Martin International,Engineering Jobs,24996,cv-library.co.uk,20131025T000000,20131224T000000

## 3. Identify issues and fix 
- If there is clear and feasible fix for the error, there will be explicit section stating the **Fix** method and content;

- Otherwise, we only provide a **Conclusion** for the issue

### ID
For the column `ID` we don't have any constraints other than non-redundance. Thus we only check whether all **IDs** is unique.

In [7]:
#test if all Id 
df1.Id.unique().shape[0] == df1.shape[0]

True

### Title
- It's reasonable whether there are redundant tiltles or not.
- The values should be in valid language

In [8]:
#test whethere there is redundant titles
df1.Title.unique().shape

(25077,)

In [9]:
df1.Title.value_counts()

Carpentry Trainer / Technician (Assessor, Vocational, Training) BLUT****     1
Nurse Advisor                                                                1
Conference and Banqueting Manager                                            1
Systems Admin / Dev Ops Engineer                                             1
KS2 Teacher Year ****/**** Class                                             1
C NET Microsoft Developer                                                    1
Sage 200 Project Manager/BI/Financials Cambridgeshire ****k                  1
Financial Accountant  Market Leading Insurer                                 1
Staff Nurse  HenleyonThames                                                  1
Registered Care Manager Sheffield                                            1
International Marketing Executive                                            1
Care Assistant  Bournemouth                                                  1
IT Service Delivery Manager (SDM)                                            1
Enterprise Solutions Architect  Oxford  ELT  ****k                           1
Home Manager RMN Darlington                                                  1
**** x Commercial Gas / Heating Engineers                                    1
Sales Executive  Electrical Wholesale                                        1
Business Development Director  ABL / Structured Finance                      1
Electrical Manufacturing Maintenance Engineer                                1
IT Security Specialist                                                       1
Plant Safety Manager                                                         1
CNC Miller  ****axis                                                         1
Marketing Grad  **** to 2 years exp  All rounder Design, Copy Social         1
Training Administrator Training Change Programme                             1
Teacher of Accounting                                                        1
IT Auditor Financial Services ****k                                          1
Head of Sales / Sales Manager                                                1
Manual Test Analyst, QA Analyst  Agile                                       1
Chef de Partie  Celebrity Chef                                               1
Interim Accoutant                                                            1
                                                                            ..
Domiciliary Care Worked                                                      1
Oracle Designer / Developer  Leyland, Lancashire                             1
Practice Nurse Band 5                                                        1
Commercial Vehicle Sales Executive                                           1
General Manager Open Day  23rd January                                       1
PPC Manager                                                                  1
Embedded C Programmer                                                        1
Commercial Catering Service Engineer  London / M25 area                      1
Senior HVAC Design Engineer (M E Building Services)                          1
Well Site Supervisor                                                         1
HEAD CHEF  OXFORDSHIRE  RESTAURANT  ****  NEW VENTURE                        1
IT Project Manager (Technical Training), London (12 months Fix Term)         1
Development Technical Lead/Project Manager â€“ global research business        1
C/AspNet MVC Developers                                                      1
Creative Technologist (Flash / Front End)                                    1
National Account Director                                                    1
FINANCIAL ACCOUNTANT (FULLY QUALIFIED) LIVERPOOL CITY CENTRE                 1
ATM YOT Case Management                                                      1
General Band 2 / Care Worker West Midlands Shropshire up to **** per hour    1
Estate Contracts Officer                                                     1
Area Mortgage Consultant  LEADING UK ESTATE AGENCY                           1
IT Trainer  TAP, MOS, IITT, Windows 7, MS Office, LMS                        1
BOOKKEEPER to c****                                                          1
Sales Executive (New Business) South, ****k****k basic OTE > ****k           1
Systems Infrastructure Analyst                                               1
C Developer Needed that Has Banter  Liverpool                                1
Rota / Care Coordinator (Oxford)                                             1
Solutions Architect  Utilities  Hinkley                                      1
CSS AJAX Developer Trading Spread Betting CFDs Finance London                1
Java Developer  Core Java / Spring / MVC / JDBC / Agile                      1
Name: Title, Length: 25077, dtype: int64

- It appears there are values that contain invalid characters '*' in the `Title` column 
- It seems some titles also contains the company name or location which could be improved for clearity of data

In [10]:
df1[df1.Title=='Engine CMPT Leader Cranktrain System  POW****']

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
13717,68544614,Engine CMPT Leader Cranktrain System POW****,Gaydon,not available,not available,Matchtech Group plc.,Engineering Jobs,52800,rengineeringjobs.com,20130516T000000,20130615T000000

In [11]:
df1[df1.Title.str.contains('Year')]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
904,48271471,Early Years Lead Practitioner (Children s Centre),Manchester,not available,not available,NaN,Healthcare & Nursing Jobs,43200,careworx.co.uk,20120715T120000,20120814T120000
2224,62114019,Year Six Teacher,UK,full_time,permanent,Edustaff,Teaching Jobs,36504,fish4.co.uk,20120531T120000,20120829T120000
2235,62114222,Year **** Primary School Teacher,Birmingham,full_time,permanent,Edustaff Birmingham,Teaching Jobs,30792,fish4.co.uk,20130924T120000,20131123T120000
2257,62115888,Year 5 Teacher,Birmingham,full_time,permanent,Balfor Education,Teaching Jobs,28800,fish4.co.uk,20120731T120000,20121029T120000
2288,62119102,Year 1 Teacher at London Bridge Up to **** pe...,UK,full_time,permanent,Destination Education,Teaching Jobs,34800,fish4.co.uk,20120805T000000,20121004T000000
2289,62119106,Primary School Teacher Year **** Class,Coventry,full_time,permanent,Edustaff Birmingham,Teaching Jobs,30792,fish4.co.uk,20130217T000000,20130319T000000
2342,62124569,Year ****,UK,full_time,permanent,Career Teachers,Teaching Jobs,31200,fish4.co.uk,20131118T120000,20131218T120000
2625,64214875,Year 3 Teacher,Enfield,full_time,permanent,Edustaff,Teaching Jobs,33060,fish4.co.uk,20120511T150000,20120809T150000
2637,64339591,Year **** (Literacy Numeracy Support) Teacher ...,London,full_time,contract,Tradewind Recruitment,Teaching Jobs,31800,jobsineducation.co.uk,20130219T150000,20130420T150000
2866,64802114,Year 7 Teacher,London,full_time,permanent,Harris Hill,Teaching Jobs,32496,jobsineducation.co.uk,20130910T120000,20131109T120000
3103,65175441,Year **** Primary Teacher needed for school lo...,West Midlands,full_time,contract,ABC Teachers,Teaching Jobs,33000,jobsineducation.co.uk,20120122T120000,20120421T120000
3105,65175490,SEN Early Years Teacher (EYFS) needed for Spec...,West Midlands,full_time,permanent,ABC Teachers,Teaching Jobs,30000,jobsineducation.co.uk,20130709T000000,20130907T000000
3106,65175493,Year **** Primary Teacher position in Chelmsle...,West Midlands,full_time,contract,ABC Teachers,Teaching Jobs,26496,jobsineducation.co.uk,20120908T150000,20121008T150000
3494,65689877,Term Time only Senior Nursery Nurse/Early Yea...,UK,not available,permanent,People Personnel,Teaching Jobs,16752,cv-library.co.uk,20130411T120000,20130511T120000
3582,65873556,Year **** / 6 Teacher,West Midlands,full_time,contract,Flourish Education,Teaching Jobs,27600,jobsineducation.co.uk,20130303T000000,20130601T000000
3870,66195186,Year End Accountant,The City,not available,contract,NaN,IT Jobs,66000,theitjobboard.co.uk,20130618T000000,20130718T000000
4231,66502201,Year 1 Teacher,East London,full_time,contract,CAREER TEACHERS,Teaching Jobs,37200,jobs.guardian.co.uk,20120124T150000,20120324T150000
4612,66601469,"New Year, New You, New Career Become a Care Wo...",Oxford,part_time,not available,NaN,Healthcare & Nursing Jobs,14976,careworx.co.uk,20121116T150000,20121216T150000
4786,66645649,Early Years Teacher PreSchool Room,UK,full_time,permanent,Bright Horizons Family Solutions,Teaching Jobs,19200,nurseryworldjobs.co.uk,20130125T150000,20130425T150000
4916,66704514,Early Years Primary Teacher Stockport,Cheadle,full_time,contract,Capita Education,Teaching Jobs,24000,jobs.newstatesman.com,20130223T150000,20130325T150000
5200,66892873,Year **** Primary NQT,London,not available,permanent,Edustaff London Ltd,Teaching Jobs,25116,cv-library.co.uk,20131006T120000,20140104T120000
5203,66892998,Year 4 Teacher in South London,The City,not available,contract,Horizon Teachers,Teaching Jobs,37800,cv-library.co.uk,20130222T000000,20130423T000000
5210,66893317,Early Years Internal Verifier (IQA),Essex,not available,permanent,JJ FOX,Teaching Jobs,24000,cv-library.co.uk,20120209T120000,20120409T120000
5946,67005726,Early Years & Childcare Deputy,Buckinghamshire,full_time,permanent,4Children,Teaching Jobs,18000,nurseryworldjobs.co.uk,20120515T000000,20120813T000000
6066,67057552,"Early Years Teacher (temp, part time) P****",Scotland,part_time,contract,KELLY STREET CHILDRENS CENTRE,Teaching Jobs,29952,jobs.guardian.co.uk,20120628T150000,20120827T150000
6082,67079429,Regional Manager New Year New Challenege,Essex,not available,permanent,Pro Finance,Accounting & Finance Jobs,51504,accountancyagejobs.com,20130124T150000,20130325T150000
6557,67302005,Apprenticeship Assessor / Early Years Care,Northampton,not available,permanent,KM Education Recruitment Ltd,Teaching Jobs,19656,cv-library.co.uk,20131224T000000,20140324T000000
6559,67302349,Year 6 Teacher With Strong Classroom Management,Halesowen,not available,contract,TeacherActive,Teaching Jobs,28800,cv-library.co.uk,20120303T150000,20120502T150000
6756,67366698,Head of Early Years Practice,Essex,full_time,permanent,Seymour House Day Nursery Schools,Teaching Jobs,27204,nurseryworldjobs.co.uk,20131124T150000,20140123T150000
6971,67389208,Year **** Class Teacher,Hackney,not available,contract,NaN,Teaching Jobs,33600,hays.co.uk,20120215T000000,20120415T000000
...,...,...,...,...,...,...,...,...,...,...,...
21251,69005815,Early Years Teacher or Key Stage 1 Teacher,London,not available,permanent,Academics Ltd,Teaching Jobs,33504,cv-library.co.uk,20130929T150000,20131128T150000
21258,69005870,Year 2 Teacher in Dubai,UK,not available,permanent,Edustaff London Ltd,Teaching Jobs,29400,cv-library.co.uk,20120618T150000,20120718T150000
21283,69006477,Year **** Class Teacher Urgently Required for ...,West End,not available,contract,Academics Ltd,Teaching Jobs,32400,cv-library.co.uk,20121009T150000,20121208T150000
21302,69006685,Year 3 Teacher Primary,Oxfordshire,not available,contract,Protocol Education,Teaching Jobs,28800,cv-library.co.uk,20130502T000000,20130516T000000
21310,69006724,Year **** Primary Teacher Chesterfield,Chesterfield,not available,contract,Teachers UK,Teaching Jobs,32400,cv-library.co.uk,20121005T000000,20121204T000000
21313,69006748,Part Time Year 6 Teacher,Mansfield,part_time,not available,Teachers UK,Teaching Jobs,30780.0 - 34020.0,cv-library.co.uk,20131217T000000,20140116T000000
21324,69006881,Year 6 Teacher February Calderdale,Halifax,not available,contract,Servoca Education Resources,Teaching Jobs,25248,cv-library.co.uk,20130105T120000,20130204T120000
21328,69006891,Year **** Class required for Outstanding prima...,UK,not available,contract,Academics Ltd,Teaching Jobs,32400,cv-library.co.uk,20120818T000000,20120917T000000
21352,69007111,Year **** Teaching Job in Outstanding Lambeth ...,Lambeth,not available,contract,Academics Ltd,Teaching Jobs,32400,cv-library.co.uk,20130330T000000,20130429T000000
21377,69007320,Early Years Primary Teachers needed in Southam...,UK,not available,contract,Alderwood Education,Teaching Jobs,30000,cv-library.co.uk,20131123T150000,20131207T150000
21378,69007326,Year **** Primary Teacher Derby,Derby,not available,contract,Teachers UK,Teaching Jobs,32400,cv-library.co.uk,20131119T120000,20140118T120000
21407,69007654,Early Years Teachers needed in Chichester,Chichester,not available,contract,Alderwood Education,Teaching Jobs,30000,cv-library.co.uk,20120112T150000,20120312T150000
21408,69007656,Early Years Teachers needed in Havant,Havant,not available,contract,Alderwood Education,Teaching Jobs,30000,cv-library.co.uk,20130421T150000,20130505T150000
21409,69007660,Early Years Teachers needed in Portsmouth,Portsmouth,not available,contract,Alderwood Education,Teaching Jobs,30000,cv-library.co.uk,20121212T000000,20121226T000000
21411,69007706,Teacher of Year ****,UK,not available,contract,TimePlan Education,Teaching Jobs,24996,cv-library.co.uk,20130121T120000,20130322T120000
22166,69026778,"Year 6 Teacher ndash; Hackney, East London nda...",Hackney,not available,not available,NaN,Teaching Jobs,35004,britishjobsonthe.net,20130218T120000,20130320T120000
22197,69034612,Reception/Year ****,Bradford,full_time,contract,Capita Education,Teaching Jobs,31200,jobs.newstatesman.com,20120617T000000,20120915T000000
22204,69035054,Year 6 Teacher Wanted in South London,Southwark,full_time,contract,Capita Education,Teaching Jobs,27600,jobs.newstatesman.com,20130916T150000,20131115T150000
22930,69075688,Early Years Group Leaders,UK,full_time,contract,Super Camps Ltd,Teaching Jobs,15600,nurseryworldjobs.co.uk,20130625T150000,20130824T150000
23710,69143922,**** x Early Years Teacher,UK,full_time,permanent,Headline Reading,Teaching Jobs,24996,jobsineducation.co.uk,20120807T150000,20121105T150000
24649,69193301,Teacher of Foundation and Year ****,Sheffield,full_time,permanent,Teachers UK,Teaching Jobs,30000,fish4.co.uk,20120813T120000,20121012T120000
24674,69195266,Exceptional Year 5 Teacher Required from Apri...,Bristol,full_time,permanent,Edustaff Bristol,Teaching Jobs,26568,fish4.co.uk,20130101T150000,20130401T150000
24706,69198868,Early Years Coordinater,UK,full_time,permanent,ITN Mark Education London City,Teaching Jobs,49200,fish4.co.uk,20130626T120000,20130825T120000
24748,69203006,Primary Teaching Assistant Early Years Outstan...,Bristol,full_time,permanent,Edustaff Bristol,Teaching Jobs,15600,fish4.co.uk,20121013T000000,20130111T000000
24895,69213857,Year 5 Teacher South London,London,full_time,permanent,Vision Teaching,Teaching Jobs,32400,fish4.co.uk,20120607T120000,20120905T120000
24961,69217560,Early Years Leader Lewisham,UK,full_time,permanent,The London Teaching Pool Ltd,Teaching Jobs,45000,fish4.co.uk,20120209T150000,20120310T150000
24996,69219719,Year 6 teacher for school in Maidstone (Long T...,Maidstone,full_time,permanent,Career Teachers,Teaching Jobs,33600,fish4.co.uk,20120221T150000,20120322T150000
25001,69219928,"Year 5 Teacher, Acocks Green Birmingham",Birmingham,full_time,permanent,Aspire People Limited,Teaching Jobs,29400,fish4.co.uk,20130118T000000,20130217T000000
25006,69220200,Early Years Lead Teacher,UK,full_time,permanent,Edustaff,Teaching Jobs,40368,fish4.co.uk,20130606T150000,20130904T150000
25043,69228449,Interim Senior Year End Accountant,UK,full_time,permanent,Finegreen Associates,Accounting & Finance Jobs,90000,fish4.co.uk,20130508T120000,20130806T120000

In [12]:
df1[df1.Title=='PHP Developer, LAMP Software Engineer ****k']

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
9960,68180029,"PHP Developer, LAMP Software Engineer ****k",London,not available,permanent,Acceler IT Recruitment Consultancy,IT Jobs,65004,jobsite.co.uk,20120304T120000,20120602T120000

#### Fix:

- We can unify the capital letters in the title column

In [13]:
#unify string
df1.Title = df1.Title.str.title()

#### Conclusions:
- After inspectation we find out that there are a considerable number of astericks, however, quite a number of them has valid semantic meaning. It is just these infomartion somehow missed, like "Year \*\** Class Teach" or "Engineer \**k" to these entities the info represented by the astericks are crucial for it to be understood, these astericks can at least provide clues on  that. Thus we decide to keep these astericks.

**Keep unchanged**

### Location

In [14]:
df1.Location.value_counts()

UK                      3996
London                  2743
South East London       1433
The City                 558
Leeds                    343
Manchester               334
Surrey                   317
Central London           316
Reading                  300
Birmingham               292
West Midlands            273
East Sheen               222
Bristol                  222
Berkshire                202
Nottingham               196
Oxford                   190
Hampshire                184
Milton Keynes            180
Cambridge                172
Sheffield                160
Kent                     158
Newcastle Upon Tyne      156
Hertfordshire            155
Guildford                147
Aberdeen                 141
Leicester                139
Cheshire                 133
West Yorkshire           127
Oxfordshire              127
Belfast                  125
                        ...
Twickenham                 4
North Finchley             4
Wisbech                    4
Bexley                     4
Surey                      4
St. Ives                   4
Oldbury                    4
Leads                      4
Kenilworth                 4
Oxfords                    4
Bridgwater                 4
Sutton-In-Ashfield         3
Sudbury                    3
Brierley Hill              3
Chipping Campden           3
Buckingham                 3
Thames Ditton              3
Bourne End                 3
Workington                 3
Lewisham                   2
Dover                      2
Redcar                     2
Pontefract                 2
Glenrothes                 2
Alcester                   2
St. Neots                  2
Petersfield                2
Rochdale                   2
Dumfries                   1
Newcastle-under-Lyme       1
Name: Location, Length: 482, dtype: int64

Potential issues:
1. A large proportion records has just no detailed `Location` but just "UK"(default filling for none);some has the location data but it is included in the `Title` value and these record also just have the value of `Location` as "UK"
2. the "The City" location does not make sense.
3. There are several occurence of "London" like "London", "Central London","South East London".
4. There seems to be spelling errors like "Oxfords" and "Oxford"

So we start to check these potention issues one by one:

In [15]:
df1[df1.Location == 'UK']

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
9,22933091,Chef De Partie Award Winning Dining Live In ...,UK,not available,not available,Chef Results,Hospitality & Catering Jobs,18000,caterer.com,20120814T000000,20120828T000000
12,23530231,Lead Engineers (Stress),UK,not available,permanent,Gregory Martin International,Engineering Jobs,39504,cv-library.co.uk,20121113T120000,20130211T120000
13,24104334,"Relief Chef De Partie Croydon, Surrey Live In",UK,not available,not available,Towngate Personnel,Hospitality & Catering Jobs,17280,caterer.com,20131029T000000,20131128T000000
26,27739522,Welwyn Chef De Partie Does It Get Any Better T...,UK,not available,not available,Clear Selection,Hospitality & Catering Jobs,18000,caterer.com,20130106T120000,20130307T120000
27,27740574,Pastry Chef Al**** ****Aa Rosette Restaurant,UK,not available,not available,Clear Selection,Hospitality & Catering Jobs,18996,caterer.com,20120320T120000,20120403T120000
30,29650985,Fine Dining Chefs For Rosette Restaurants Up ...,UK,not available,not available,Clear Selection,Hospitality & Catering Jobs,24000,caterer.com,20131205T150000,20140104T150000
31,30192171,Web Developer,UK,not available,permanent,Indigo 21 Ltd,IT Jobs,35004,cv-library.co.uk,20130305T000000,20130504T000000
39,31989124,Mechanical Engineer Design And Substantiation,UK,not available,permanent,Gregory Martin International,Engineering Jobs,35004,cv-library.co.uk,20131018T120000,20131117T120000
42,32233421,Principle Mechanical Engineer,UK,not available,permanent,Rullion Engineering Ltd,Engineering Jobs,48504,cv-library.co.uk,20130816T120000,20131114T120000
43,32417995,Chef De Partie Award Winning Fine Dining Rest...,UK,not available,not available,Chef Results,Hospitality & Catering Jobs,20496,caterer.com,20131016T150000,20131030T150000
44,32621550,Chef De Partie Up To **** Tips Ipswich Outskirts,UK,not available,not available,Clear Selection,Hospitality & Catering Jobs,17004,caterer.com,20131125T120000,20131225T120000
48,33469049,It Recruitment Consultant,UK,not available,permanent,Code Blue Recruitment,IT Jobs,24996,cv-library.co.uk,20130323T120000,20130621T120000
52,34558621,Chef De Partie Norfolk Live In Up To **** Tips,UK,not available,not available,Clear Selection,Hospitality & Catering Jobs,17496,caterer.com,20130803T150000,20131002T150000
54,34558938,Pastry Chef/Baker Artisan Bakery Suffolk Coast,UK,not available,not available,Clear Selection,Hospitality & Catering Jobs,21000,caterer.com,20120416T150000,20120615T150000
55,34790490,Java Developer,UK,not available,permanent,NaN,IT Jobs,33996,theitjobboard.co.uk,20120203T120000,20120304T120000
79,41406133,It Support Technician,UK,not available,permanent,MatchBox Recruiting Ltd,IT Jobs,23496,cv-library.co.uk,20121210T150000,20130310T150000
80,41783094,Chef De Partie High Volume Banqueting Departm...,UK,not available,not available,Chef Results,Hospitality & Catering Jobs,22500,caterer.com,20130220T150000,20130322T150000
81,41879934,Future Leaders Development Programme Technology,UK,not available,permanent,NaN,IT Jobs,36000,theitjobboard.co.uk,20120815T150000,20121014T150000
85,43196787,Chef De Partie High Volume Conference Centre ...,UK,not available,not available,Chef Results,Hospitality & Catering Jobs,20004,caterer.com,20120203T120000,20120304T120000
88,43611718,"Sales Engineer Midlands, Cambridgeshire, Nort...",UK,not available,permanent,OP,Sales Jobs,30996,cv-library.co.uk,20120919T150000,20121218T150000
90,43611886,Property Buyer / Telesales,UK,not available,permanent,Serata Search Ltd,Sales Jobs,20496,cv-library.co.uk,20130607T120000,20130806T120000
94,44452543,Sous Chef Straight Shifts Bury St Edmunds Up T...,UK,not available,not available,Clear Selection,Hospitality & Catering Jobs,23004,caterer.com,20131001T120000,20131031T120000
96,45057486,Manager,UK,not available,not available,Clear Selection,Hospitality & Catering Jobs,24996,caterer.com,20130527T150000,20130626T150000
104,46541847,Chef De Partie Accredited Boutique Hotel Sha...,UK,not available,not available,Chef Results,Hospitality & Catering Jobs,15996,caterer.com,20120517T000000,20120531T000000
105,46626508,Support Worker Job Chepstow,UK,full_time,not available,NaN,Healthcare & Nursing Jobs,12348,careworx.co.uk,20130407T000000,20130507T000000
106,46626509,Support Worker Job Abergavenny,UK,full_time,not available,NaN,Healthcare & Nursing Jobs,14256,careworx.co.uk,20130614T000000,20130912T000000
110,46626537,Rgn Registered Nurse Job Southampton,UK,full_time,not available,NaN,Healthcare & Nursing Jobs,23040,careworx.co.uk,20130824T120000,20131122T120000
118,46626571,Rgn Registered Nurse Job Durham,UK,full_time,not available,NaN,Healthcare & Nursing Jobs,27000,careworx.co.uk,20120407T120000,20120507T120000
127,46626838,Senior Care Assistant North Tyneside,UK,not available,not available,NaN,Healthcare & Nursing Jobs,14880,careworx.co.uk,20131021T000000,20131104T000000
135,46626893,Deputy Nursing Home Manager Job Southampton,UK,full_time,not available,NaN,Healthcare & Nursing Jobs,25440,careworx.co.uk,20120730T120000,20120829T120000
...,...,...,...,...,...,...,...,...,...,...,...
24998,69219824,Asd Teaching Assistant,UK,full_time,permanent,Teaching Personnel Ltd London CR,Teaching Jobs,13200,fish4.co.uk,20120215T120000,20120316T120000
24999,69219830,Primary Teacher South West London,UK,full_time,permanent,Teaching Personnel Ltd London CR,Teaching Jobs,28800,fish4.co.uk,20120826T120000,20121124T120000
25000,69219927,Teacher Assistant In South East London Seconda...,UK,full_time,permanent,Career Teachers,Teaching Jobs,17400,fish4.co.uk,20130109T000000,20130409T000000
25002,69219932,Insurance Sales Executive Dunstable,UK,full_time,permanent,Additional Resources,Sales Jobs,21504,fish4.co.uk,20130326T120000,20130624T120000
25004,69220056,Credit Risk Modellers Consultancy Roles Sas,UK,full_time,permanent,Aspire Data Recruitment,IT Jobs,60000,fish4.co.uk,20120411T150000,20120610T150000
25006,69220200,Early Years Lead Teacher,UK,full_time,permanent,Edustaff,Teaching Jobs,40368,fish4.co.uk,20130606T150000,20130904T150000
25007,69220230,Long Term Roles Still Available In South London,UK,full_time,permanent,Career Teachers,Teaching Jobs,32400,fish4.co.uk,20130620T000000,20130819T000000
25014,69220916,Assistant Finance Business Manager,UK,full_time,permanent,CY Executive Resourcing,Accounting & Finance Jobs,54000,fish4.co.uk,20120726T150000,20121024T150000
25016,69221014,Hospitality / Front Of House Nvq Assessor Dorset,UK,full_time,permanent,Additional Resources,Teaching Jobs,20004,fish4.co.uk,20130329T120000,20130528T120000
25017,69221053,Windows Systems Administrator / Finance / Secu...,UK,full_time,permanent,OHO Group,IT Jobs,52500,fish4.co.uk,20120905T120000,20121005T120000
25018,69221162,Quant Analysts Required High Earning Potential,UK,full_time,permanent,OHO Group,IT Jobs,87504,fish4.co.uk,20130620T120000,20130918T120000
25025,69221374,Sales New Business,UK,full_time,permanent,Candidate Source Ltd,Sales Jobs,18504,fish4.co.uk,20120325T000000,20120623T000000
25026,69221393,Bookkeeper / Accounts Assistant Music,UK,full_time,permanent,Sauce Recruitment Ltd,Accounting & Finance Jobs,24996,fish4.co.uk,20120616T150000,20120914T150000
25027,69221532,Test Engineer (Bsr),UK,full_time,permanent,RLE International,Engineering Jobs,38496,fish4.co.uk,20120615T120000,20120814T120000
25029,69221582,Electronics Engineer (Graduate To Snr),UK,full_time,permanent,Enterprise Recruitment Ltd,Engineering Jobs,30996,fish4.co.uk,20130523T000000,20130622T000000
25032,69221776,Multichannel Finance Manager,UK,full_time,permanent,Firefly Human Capital,Accounting & Finance Jobs,84996,fish4.co.uk,20130217T150000,20130319T150000
25035,69224868,Hardware Design Engineer Digital And Analogue ...,UK,full_time,permanent,Teambuilder Recruitment Ltd,Engineering Jobs,33504,fish4.co.uk,20130123T000000,20130423T000000
25036,69225891,Mechatronics Product Engineer,UK,full_time,permanent,Forest Personnel,Engineering Jobs,35004,fish4.co.uk,20121130T150000,20130228T150000
25041,69228388,"Jnr Mid, Mobile Games Developer, ****K, London",UK,full_time,permanent,Monarch Recruitment,IT Jobs,27504,fish4.co.uk,20120422T120000,20120621T120000
25043,69228449,Interim Senior Year End Accountant,UK,full_time,permanent,Finegreen Associates,Accounting & Finance Jobs,90000,fish4.co.uk,20130508T120000,20130806T120000
25048,69228674,Rf Design And Customer Support,UK,full_time,permanent,European Recruitment,IT Jobs,82560,fish4.co.uk,20120605T000000,20120804T000000
25049,69228685,Technical Sales Engineer Deburring Tools,UK,full_time,permanent,ETS Technical Selection,IT Jobs,32496,fish4.co.uk,20131128T150000,20140127T150000
25050,69228842,Senior Internal Audior,UK,full_time,permanent,Hydrogen UK Limited,Accounting & Finance Jobs,47496,fish4.co.uk,20130706T120000,20130904T120000
25051,69228969,"Business Development, P/T F/T, Flexible Hours,...",UK,full_time,permanent,Orion Business Management,Healthcare & Nursing Jobs,37500,fish4.co.uk,20120617T150000,20120717T150000
25053,69229283,Design And Applications Engineer,UK,full_time,permanent,Interaction Recruitment plc,Engineering Jobs,39996,fish4.co.uk,20121010T000000,20130108T000000
25057,69229454,Education And Training Manager,UK,full_time,permanent,ATOM Education Limited,Teaching Jobs,45996,fish4.co.uk,20120806T150000,20120905T150000
25062,69229778,Junior Drainage Engineer Pds Microdrainage,UK,full_time,permanent,Hays TCE Jobs,Engineering Jobs,20004,fish4.co.uk,20131207T000000,20140307T000000
25063,69229815,Head Of Research Development,UK,full_time,permanent,Hays North West,IT Jobs,48504,fish4.co.uk,20120812T000000,20121110T000000
25064,69229843,"Performance Test Consultant Soapui, Loadui",UK,full_time,permanent,Monarch Recruitment,IT Jobs,15120,fish4.co.uk,20130627T120000,20130727T120000
25066,69229954,Fibre Laser Physicists / Engineers (Graduate T...,UK,full_time,permanent,RE & M Ltd,IT Jobs,32496,fish4.co.uk,20120709T120000,20121007T120000

In [16]:
df1[df1.Location == 'The City']

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
51,34479775,Credit Controller,The City,not available,permanent,NaN,Accounting & Finance Jobs,24000,hays.co.uk,20120326T000000,20120425T000000
692,46635557,Occupational Health Advisor London,The City,full_time,not available,NaN,Healthcare & Nursing Jobs,38004,careworx.co.uk,20130325T150000,20130424T150000
697,46635605,Practice Nurse,The City,not available,not available,NaN,Healthcare & Nursing Jobs,34500,careworx.co.uk,20120704T120000,20120803T120000
711,46635738,Senior Staff Nurse Itu,The City,not available,not available,NaN,Healthcare & Nursing Jobs,33000,careworx.co.uk,20130105T150000,20130204T150000
761,46636393,"Deputy Manager, Elderly Nursing Home, Chingford",The City,not available,not available,NaN,Healthcare & Nursing Jobs,33996,careworx.co.uk,20120615T150000,20120629T150000
763,46636397,"Lead Nurse, Edmonton, Elderly Nursing Home",The City,not available,not available,NaN,Healthcare & Nursing Jobs,27000,careworx.co.uk,20120130T120000,20120229T120000
764,46636398,"Unit Manager, Edmonton, Elderly Care Nursing Home",The City,not available,not available,NaN,Healthcare & Nursing Jobs,26004,careworx.co.uk,20120526T000000,20120725T000000
846,46852053,Clinical Operations Manager,The City,not available,not available,NaN,Healthcare & Nursing Jobs,42000,careworx.co.uk,20120112T000000,20120211T000000
932,48481518,Team Health Administrator,The City,not available,not available,NaN,Healthcare & Nursing Jobs,24996,careworx.co.uk,20120626T120000,20120710T120000
982,49689034,Governance Manager,The City,not available,not available,NaN,Healthcare & Nursing Jobs,37404,careworx.co.uk,20130803T000000,20131002T000000
1005,49903575,Endoscopy Lead,The City,not available,not available,NaN,Healthcare & Nursing Jobs,36744,careworx.co.uk,20121102T000000,20121202T000000
1006,49903583,Anaesthetic Practitioner,The City,not available,not available,NaN,Healthcare & Nursing Jobs,32196,careworx.co.uk,20131031T150000,20131230T150000
1046,50882079,Dialysis Nurse,The City,not available,not available,NaN,Healthcare & Nursing Jobs,26496,careworx.co.uk,20130226T150000,20130427T150000
1049,50882087,Senior Dialysis Nurse,The City,not available,not available,NaN,Healthcare & Nursing Jobs,30996,careworx.co.uk,20130126T120000,20130225T120000
1102,51593546,Community Nurse South London,The City,not available,not available,NaN,Healthcare & Nursing Jobs,29004,careworx.co.uk,20131803T120000,20130417T120000
1232,54294023,Clinical Team Leader,The City,not available,not available,NaN,Healthcare & Nursing Jobs,44004,careworx.co.uk,20130615T000000,20130715T000000
1516,56010540,Medical Coordinator / Nurse Case Manager,The City,not available,not available,NaN,Healthcare & Nursing Jobs,35004,careworx.co.uk,20120731T150000,20120929T150000
1642,56929542,Accounts Senior,The City,not available,permanent,NaN,Accounting & Finance Jobs,41256,hays.co.uk,20130627T120000,20130826T120000
1991,60202898,Lead Theatre Practitioner,The City,not available,not available,NaN,Healthcare & Nursing Jobs,45000,careworx.co.uk,20130628T150000,20130827T150000
2001,60276292,Recruitment Research Consultant â€“Financial Ser...,The City,full_time,permanent,McCall Limited,Accounting & Finance Jobs,24996,strike-jobs.co.uk,20120801T150000,20121030T150000
2201,62089588,Private Client Manager Job City Of London,The City,full_time,permanent,NaN,Accounting & Finance Jobs,60000,randstadfp.com,20121108T150000,20130107T150000
2374,62381550,Revenue Systems Analyst Agile,The City,not available,not available,Matchtech Group plc.,Engineering Jobs,39996,rengineeringjobs.com,20130430T120000,20130629T120000
2379,62502183,Starting A Career In Risk And Compliance,The City,full_time,permanent,Hays A F,Accounting & Finance Jobs,22500,myjobs.cimaglobal.com,20131216T120000,20140214T120000
2445,63556803,Lloyd'S Syndicate Senior Advisory Compliance,The City,not available,permanent,NaN,Accounting & Finance Jobs,75000,hays.co.uk,20120103T000000,20120202T000000
2501,63869786,Workday Consultantglobal Consultancy,The City,not available,permanent,NaN,IT Jobs,50004,technojobs.co.uk,20131020T120000,20131219T120000
2513,63875239,Online Games Data Analyst,The City,not available,permanent,NaN,IT Jobs,30000,theitjobboard.co.uk,20120718T000000,20120817T000000
2514,63875240,"Lamp (Linux, Apache, Mysql, Php) Drupal Engineer",The City,not available,permanent,NaN,IT Jobs,52500,theitjobboard.co.uk,20131204T000000,20140103T000000
2571,64130874,Reward Associate,The City,not available,permanent,NaN,IT Jobs,69996,technojobs.co.uk,20130527T000000,20130726T000000
2632,64338674,Ux Designer (Midweight),The City,not available,permanent,NaN,IT Jobs,36000,theitjobboard.co.uk,20131019T000000,20131118T000000
2694,64558781,Senior Javascript Developer,The City,not available,permanent,NaN,IT Jobs,32496,theitjobboard.co.uk,20121202T000000,20130302T000000
...,...,...,...,...,...,...,...,...,...,...,...
23111,69080469,Catering Engineer,The City,not available,permanent,Rise Technical Recruitment,Engineering Jobs,28500.0 - 31500.0,cv-library.co.uk,20120225T000000,20120525T000000
23168,69080909,Maintenance / Building Services Supervisor,The City,not available,permanent,"Randstad Construction, Property Engineering",Engineering Jobs,17496,cv-library.co.uk,20130716T000000,20130914T000000
23249,69081697,Aftermarket Buyer,The City,not available,permanent,NuParc,Engineering Jobs,28500,cv-library.co.uk,20120201T000000,20120501T000000
23426,69084095,Mechanical Building Services Estimator,The City,not available,permanent,Fawkes Reece,Engineering Jobs,45000,cv-library.co.uk,20120406T120000,20120506T120000
23554,69118046,Selfemployed Telecoms Sales Agent,The City,full_time,permanent,London4Jobs,Sales Jobs,32004,london4jobs.co.uk,20131231T000000,20140130T000000
23556,69118115,Expat Payroll Assistant,The City,full_time,permanent,London4Jobs,Accounting & Finance Jobs,19500,london4jobs.co.uk,20131127T120000,20131227T120000
23559,69118335,German/Polish Speaking Accountants,The City,full_time,contract,London4Jobs,Accounting & Finance Jobs,68748,london4jobs.co.uk,20120517T150000,20120815T150000
23560,69118531,Associate Director; Contracts And Performance,The City,full_time,permanent,London4Jobs,Accounting & Finance Jobs,84996,london4jobs.co.uk,20121027T150000,20121126T150000
23567,69119735,European It Sales,The City,full_time,permanent,London4Jobs,Sales Jobs,23004,london4jobs.co.uk,20130522T120000,20130621T120000
23585,69122213,It Risk / Audit Senior Manager,The City,not available,permanent,Oliver James Associates Limited,Accounting & Finance Jobs,84996,cityjobs.com,20131226T150000,20140326T150000
23589,69122279,Sales Trader,The City,not available,permanent,Kennedy Pearce Consulting Ltd,Accounting & Finance Jobs,65004,cityjobs.com,20121104T000000,20130103T000000
23590,69122281,"Governance, Risk Compliance Manager",The City,not available,permanent,Oliver James Associates Limited,IT Jobs,62496,cityjobs.com,20130308T120000,20130507T120000
23591,69122289,Head Of Loans Administration,The City,not available,permanent,Eximius Operations Ltd,Accounting & Finance Jobs,65004,cityjobs.com,20130426T120000,20130526T120000
23596,69122308,Risk Analytics And Credit Model Development (R...,The City,not available,contract,Black Swan Associates Limited,Accounting & Finance Jobs,54996,cityjobs.com,20130806T000000,20131005T000000
23598,69122321,Legal Entity Controller,The City,not available,permanent,Ambition Europe Limited,Accounting & Finance Jobs,60000,cityjobs.com,20120926T150000,20121026T150000
23604,69122391,Credit Risk Stratergy Manager,The City,not available,permanent,Goodman Masson Recruitment Services Ltd,Accounting & Finance Jobs,42504,cityjobs.com,20121113T150000,20121213T150000
23608,69122440,Credit Analyst Fi Banks,The City,not available,permanent,Prime Personnel Services Ltd,Accounting & Finance Jobs,50004,cityjobs.com,20121221T000000,20130120T000000
23610,69122454,Company Secretary / Administrator,The City,not available,contract,Astbury Marsden Partners Ltd,Accounting & Finance Jobs,39996,cityjobs.com,20120906T000000,20121105T000000
23613,69122468,Client Reporting Analyst,The City,not available,permanent,C.K.R. Recruitment Limited,Accounting & Finance Jobs,42504,cityjobs.com,20120514T150000,20120713T150000
23621,69122569,Consultant Currency Sales,The City,not available,permanent,Hays Financial Markets,Accounting & Finance Jobs,27000,cityjobs.com,20130907T150000,20131106T150000
23623,69122581,Analyst Mi,The City,not available,contract,Hays Financial Markets,Accounting & Finance Jobs,27996,cityjobs.com,20120311T120000,20120325T120000
23637,69123737,Staff Nurse (Rgn/Rmn) Nursing Home,The City,full_time,permanent,UKStaffsearch,Healthcare & Nursing Jobs,22752,ukstaffsearch.com,20120217T150000,20120318T150000
23667,69129835,Catering Operations Manager,The City,full_time,permanent,UKStaffsearch,Engineering Jobs,39504,ukstaffsearch.com,20130909T150000,20131108T150000
23669,69130022,Accounts Assistant Purchase / Sales Ledger Perm,The City,full_time,permanent,UKStaffsearch,Accounting & Finance Jobs,21504,ukstaffsearch.com,20120417T150000,20120616T150000
23670,69130133,Fine Wine Broker,The City,full_time,permanent,UKStaffsearch,Accounting & Finance Jobs,42000,ukstaffsearch.com,20130911T150000,20131210T150000
23672,69130183,Icu Staff Nurse,The City,full_time,permanent,UKStaffsearch,Healthcare & Nursing Jobs,33552,ukstaffsearch.com,20120708T150000,20120906T150000
23813,69162503,Director In Waiting?,The City,full_time,permanent,CVbrowser,Accounting & Finance Jobs,80004,cvbrowser.com,20130317T150000,20130416T150000
23822,69162714,Senior Charge Nurse / Sister Paediatric Itu (P...,The City,full_time,permanent,CVbrowser,Healthcare & Nursing Jobs,42072,cvbrowser.com,20120428T120000,20120528T120000
23826,69162985,Commercial Catering Service Engineer,The City,full_time,permanent,CVbrowser,Engineering Jobs,24504,cvbrowser.com,20120726T000000,20120924T000000
23844,69164129,Android Developer Media London,The City,not available,permanent,NaN,IT Jobs,60504,theitjobboard.co.uk,20130910T120000,20131010T120000

In [17]:
#find similarity of strings
def find_close_strings(target):
    word_list = list(df1.Location.unique())
    pairs = []
    for e in combinations(word_list,2):
        pairs.append(e)
    result = []
    for pair in pairs:
        if jellyfish.damerau_levenshtein_distance(pair[0],pair[1]) <= target:
            result.append(pair)
    return result

After several tests, we decide to pick the **damerau_levenshtein** algorithm to quantify string difference, and we assume that if the distance between two strings is 1, then there is high possibility they are the same word

In [18]:
find_close_strings(1)

[('Surrey', 'Surey'),
 ('Hertfordshire', 'Herefordshire'),
 ('Leeds', 'Leads'),
 ('Nottingham', 'Nottinham'),
 ('Boston', 'Bolton'),
 ('Harlow', 'Harrow'),
 ('Harlow', 'Marlow'),
 ('Oxford', 'Oxfords'),
 ('Hereford', 'Hertford'),
 ('Reeding', 'Reading'),
 ('Fareham', 'Farnham'),
 ('Stafford', 'Stamford'),
 ('Tamworth', 'Tadworth'),
 ('Uxbridge', 'Axbridge')]

#### Fix:
After search on the internet we refine the list of string-pairs that should be rectified

In [19]:
#fix the lexical error in location name
to_correct = {'Surey':'Surrey','Leads':'Leeds','Oxfords':'Oxford','Reeding':'Reading','Nottinham':'Nottingham'}
df1.replace({'Location':to_correct},inplace=True)

#### Conclusion:
1. The "UK" seems to be the default value of the `Location` column, though there are some records which has the `Location` in the `Title`, we cannot extract it since we have no way to know if it is a valid location name or not.**Cannot clean**
2. Among records with "The City" as Location info, some has Location info in title, some has not, same as above, no way to tell if it is a location or not.**Cannot clean**
3. Since London is a metropolitan, it is reasonable to keep location sepcific to which area of it, so we keep the mulitiple ocurrences as they are.

### ContractType

In [20]:
#check unique values of the columns
df1.ContractType.unique()

array(['not available', 'full_time', 'part_time'], dtype=object)

**Fix**:

According to dta dataset description, the 'not available' should be replaced by 'non_specified'

In [21]:
df1.ContractType.replace('not available','non_specified',inplace=True)

### ContractTime

In [22]:
#check unique values
df1.ContractTime.unique()

array(['permanent', 'not available', 'contract'], dtype=object)

**Fix**:

According to dta dataset description, the 'not available' should be replaced by 'non_specified'

In [23]:
df1.ContractTime.replace('not available','non_specified',inplace=True)

### Company

In [24]:
df1.Company.value_counts()

UKStaffsearch                        248
CVbrowser                            170
Randstad                             169
JOBG8                                159
Matchtech Group plc.                 150
Chef Results                         137
Penguin Recruitment                  134
Hays                                 115
London4Jobs                          112
COREcruitment International          111
JAM Recruitment Ltd                  109
Computer People                       99
Clear Selection                       92
Monarch Recruitment                   89
Towngate Personnel                    79
Cherryred Recruitment                 69
Senitor Associates                    67
Capita Resourcing                     62
Modis                                 62
Support Services Group                62
Aspire Data Recruitment               61
Adecco                                57
Idex Consulting                       55
Evolution Recruitment Solutions       55
Populus Healthcare                    55
Swiis Healthcare                      54
Bee Recruitment London Ltd            53
The Placement Group                   52
IC Software                           52
HCL Permanent                         51
                                    ...
Siena Red                              1
Expectations Recruitment Services      1
Randstad Managed Services              1
Alive Network Ltd                      1
Arora Hotels Limited                   1
QED Clinical Services Limited          1
Capability Scotland                    1
River Professional Services Ltd        1
Care knight Ltd                        1
Fawkes & Reece                         1
Clyde Valley Lifts                     1
Ability Technology Group               1
Fuller s Managed Estate                1
Vector Recruitment                     1
Crossrail                              1
RWE npower                             1
Atlantic Recruitment                   1
Alaric systems ltd                     1
SSP UK Ltd                             1
Software of Excellence                 1
Recruitment Solutions                  1
Parham Consulting Ltd                  1
Inorbit Ltd                            1
The Highflyers                         1
Collaborate Recruitment                1
Adrem Group                            1
Austin Banks Ltd                       1
INTA PEOPLE                            1
Compass Group                          1
Medicor Global                         1
Name: Company, Length: 4879, dtype: int64

In [25]:
df1.Company.str.contains('LTD').sum(),df1.Company.str.contains('Limited').sum(),df1.Company.str.contains('Ltd').sum()

(153, 1251, 3604)

- Seems there are some minor irregularities like the inconsitent use of "Limited","Ltd" and "LTD", which can all be unified as "Ltd"
- To be consistent "plc" can be converted into "Plc"

It is already discovered before that there is large amount of missing values in the `Company` column

In [26]:
# unify all post-fix of company name
df1.Company = df1.Company.str.title()
df1.Company = df1.Company.str.replace('Limited','Ltd')

In [27]:
df1.Company.str.contains('Limited').sum()

0

In [28]:
df1.Company.isna().sum()

3835

#### Conclusion:
It seems that it is impossible to fill in the name of these companies, but depends on whether it was just a system error or typo, and also regarding different usage of the dataset, it is better we keep this records.

### Category

In [29]:
df1.Category.value_counts()

IT Jobs                             7085
Healthcare & Nursing Jobs           4334
Engineering Jobs                    3458
Accounting & Finance Jobs           3099
Sales Jobs                          2609
Hospitality & Catering Jobs         2124
Teaching Jobs                       1378
PR, Advertising & Marketing Jobs     990
Name: Category, dtype: int64

#### Conclusion:
- No invalid values and no redundance
- Also no inconsistent represnetation of same value

### Salary

In [30]:
df1["Salary per annum"].unique()

array(['24996', '30000', '27504', ..., '17K', '18264', '40368'], dtype=object)

There are inconsiten representations of the salary

In [31]:
p1 = '^\d+$'

In [32]:
non_numeric_salary = df1['Salary per annum'].apply(lambda x: False if re.match(p1,x) else True )

In [33]:
inconsis_salary =df1['Salary per annum'][non_numeric_salary];inconsis_salary.value_counts()

32K                                        7
37996.2 - 41995.8                          5
33253.799999999996 - 36754.200000000004    5
35K                                        5
45K                                        5
30871.199999999997 - 34120.8               5
38K                                        5
40K                                        4
23K                                        4
26K                                        4
20K                                        4
30K                                        4
19K                                        4
28500.0 - 31500.0                          4
42750.0 - 47250.0                          4
24K                                        4
47K                                        4
52K                                        3
15196.199999999999 - 16795.8               3
27553.8 - 30454.2                          3
28K                                        3
23746.199999999997 - 26245.800000000003    3
21K                                        3
55K                                        3
26128.8 - 28879.2                          3
25K                                        3
52246.2 - 57745.8                          3
50K                                        3
22321.2 - 24670.8                          3
27K                                        2
                                          ..
44175.0 - 48825.0                          1
35625.0 - 39375.0                          1
24646.8 - 27241.2                          1
27816.0 - 30744.0                          1
14250.0 - 15750.0                          1
40846.2 - 45145.8                          1
66496.2 - 73495.8                          1
60K                                        1
41040.0 - 45360.0                          1
14614.8 - 16153.2                          1
39421.2 - 43570.8                          1
18K                                        1
85500.0 - 94500.0                          1
71K                                        1
39K                                        1
33K                                        1
23712.0 - 26208.0                          1
78K                                        1
17K                                        1
25171.199999999997 - 27820.800000000003    1
49020.0 - 54180.0                          1
13497.599999999999 - 14918.400000000001    1
14K                                        1
58K                                        1
35146.2 - 38845.8                          1
15891.599999999999 - 17564.4               1
16416.0 - 18144.0                          1
42K                                        1
19003.8 - 21004.2                          1
30403.8 - 33604.200000000004               1
Name: Salary per annum, Length: 101, dtype: int64

#### Fix:
There seems to have two type of invalid representations:
1. "90K"
2. "21819.6 - 24116.4"

**For the first one we just transfer the str representation to int.**

**For the second one we pick the mean of the range and round them to the nearest integer.**

In [34]:
#design the regex patterns
p1 = '(\d+)K'#regex for '90K'
p2 = '(\d+\.\d+)\s*-\s*(\d+\.\d+)'#regex for '3333.222 - 34444.333'
p3 = '^\d+$' # regex for normal representation

In [35]:
#the method for unifying the values of salaries
def unify_salary(sp):
    r1 = re.match(p1,sp)
    r2 = re.match(p2,sp)
    if r1:
        return r1.group(1) + '000'
    if r2:
        return float(r2.group(1))+float(r2.group(2))/2
    if re.match(p3,sp):
        return sp

In [36]:
df1['Salary per annum'] = df1['Salary per annum'].apply(unify_salary)

In [37]:
#for space saving, salary won't be that large, so transfer to int32 is enough
df1['Salary per annum'] = df1['Salary per annum'].astype(int);

Then we need to check if there are semantic errors in the salary column:
- one error can be the occurence of error or negative number

In [38]:
df1.shape[0] - (df1['Salary per annum'] <= 0).sum() == df1.shape[0]

True

Thia proves there is not zero or negative values in the row of `Salary per annum`

### SourceName

In [39]:
df1.SourceName.value_counts()

totaljobs.com                     5335
cv-library.co.uk                  4207
careworx.co.uk                    1777
cwjobs.co.uk                      1202
staffnurse.com                    1182
jobsite.co.uk                     1110
caterer.com                       1047
fish4.co.uk                        757
theitjobboard.co.uk                755
jobserve.com                       717
jobs.catererandhotelkeeper.com     640
planetrecruit.com                  460
rengineeringjobs.com               363
salestarget.co.uk                  355
britishjobsonthe.net               332
jobs.guardian.co.uk                301
ukstaffsearch.com                  248
hays.co.uk                         247
strike-jobs.co.uk                  221
technojobs.co.uk                   219
gojobsearch.co.uk                  187
justengineers.net                  179
cvbrowser.com                      170
cityjobs.com                       159
jobg8.com                          145
careerbuilder.com                  137
jobsineducation.co.uk              129
jobs.newstatesman.com              115
thecareerengineer.com              113
london4jobs.co.uk                  112
                                  ...
randstadfp.com                      29
mediaweekjobs.co.uk                 27
nurseryworldjobs.co.uk              26
juniorbroker.com                    23
jobsincredit.com                    21
actuaryjobs.co.uk                   21
simplymarketingjobs.co.uk           20
OilCareers.com                      17
emptylemon.co.uk                    16
jobs.chinwag.com                    14
jobs.planningresource.co.uk         14
eventjobsearch.co.uk                13
rcnbulletinjobs.co.uk               13
ifaonlinejobs.co.uk                 13
frontofficebanking.com              11
legalprospects.com                   8
renewablescareers.com                8
wikijob.co.uk                        5
jobsinsocialwork.co.uk               4
3desk.com                            4
jobs.perl.org                        3
workthing.com                        2
scotsman.com                         2
cardandpaymentjobs.com               2
monashstudent                        1
admin@caterer.com                    1
grb.uk.com                           1
jobcareer                            1
jobs.gponline.com                    1
thegraduate.co.uk                    1
Name: SourceName, Length: 90, dtype: int64

Seems no explicit issues.

### OpenData and CloseDate
We assume at the first place that the date form is Y-M-D

In [40]:
df1.OpenDate.head()

0    20121103T000000
1    20130108T150000
2    20130726T150000
3    20121214T000000
4    20131025T000000
Name: OpenDate, dtype: object

The result of above cell proves our assumption, so we can start invetigate whether there are issues in the two columns for date.

In [41]:
p = '\d{4}(\d{2})(\d{2}).(\d{2})(\d{2})(\d{2})'
def is_valid_date(d):
    month_invalid = int(re.match(p,d).group(1)) > 12 
    day_invalid = int(re.match(p,d).group(2)) > 31 #keep it simple fallacious for the moment, for simplicity just assume each month has 31 days
    hr_invalid = int(re.match(p,d).group(3)) > 23
    min_invalid = int(re.match(p,d).group(4)) > 59
    second_invalid = int(re.match(p,d).group(5)) > 59
    if month_invalid or day_invalid or hr_invalid or min_invalid or second_invalid:
        return d
    else:
        return np.nan
    
invalid_open_date = df1.OpenDate.apply(is_valid_date)
invalid_close_date = df1.CloseDate.apply(is_valid_date)

In [42]:
#test
print(invalid_open_date.dropna().shape, invalid_close_date.dropna().shape)

(10,) (0,)

This indicates there are 10 invalid date 

Then we inspect the invalid values

In [43]:
invalid_series = invalid_open_date.dropna().values

In [44]:
df1[df1.OpenDate.isin(invalid_series)]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
1102,51593546,Community Nurse South London,The City,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,29004,careworx.co.uk,20131803T120000,20130417T120000
2104,61282006,Deputy Home Care Manager,Barnet,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,20004,careworx.co.uk,20132606T000000,20130710T000000
2839,64796836,"Technical Tester Manual, Automation, Java, Sq...",London,non_specified,permanent,NaN,IT Jobs,19500,theitjobboard.co.uk,20122003T150000,20120519T150000
5707,66935867,"Technical Sales Manager, Pigments Fillers To S...",UK,non_specified,non_specified,Wallace Hind Selection,Sales Jobs,45000,salestarget.co.uk,20121512T150000,20130213T150000
10881,68257270,Desire A Change? London ****K Basic ****K Ote,South East London,non_specified,non_specified,Zest 2 Recruitment,Sales Jobs,13500,salestarget.co.uk,20133004T150000,20130530T150000
11948,68350622,Mechanical Design Engineer (Hvac),Gainsborough,non_specified,permanent,NaN,IT Jobs,39996,technojobs.co.uk,20131908T000000,20131117T000000
15353,68671948,Investment Analyst,Cheshire,non_specified,permanent,Idex Consulting,Accounting & Finance Jobs,24000,totaljobs.com,20121406T120000,20120912T120000
22918,69072305,Scheme Actuary,Hampshire,non_specified,permanent,Sammons Pensions,Accounting & Finance Jobs,54996,professionalpensionsjobs.com,20131509T000000,20131114T000000
23007,69079402,Naval Architect/Structural Engineer,Newcastle Upon Tyne,non_specified,permanent,Workshop Recruitment,Engineering Jobs,33504,cv-library.co.uk,20132901T150000,20130429T150000
23169,69080910,Ms (Elec Biased) Maintenance Engineer / Superv...,Harrogate,non_specified,permanent,Jenrick Engineering,Engineering Jobs,17004,cv-library.co.uk,20132108T120000,20131119T120000

#### Fix:
It seems though these OpenDates are invalid, but if the month and day get reversed they are all valid date.

Thus we decide to reverse them.

In [45]:
df1.loc[df1.OpenDate.isin(invalid_series), 'OpenDate'] = df1[df1.OpenDate.isin(invalid_series)]['OpenDate'].apply(lambda s: s[:4] + s[6:8] + s[4:6] + s[8:])

In [46]:
#transform the string representation of date to type datetime for more flexibility
df1[['OpenDate','CloseDate']] = df1[['OpenDate','CloseDate']].apply(lambda x: pd.to_datetime(x))

Then we need to check semantic errors, which is that that the OpenDate later than the CloseDate

In [47]:
df1[df1.OpenDate > df1.CloseDate]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
6659,67330693,Pensions Implementation Manager,Brighton,non_specified,permanent,NaN,Accounting & Finance Jobs,35004,hays.co.uk,2013-07-03 00:00:00,2013-04-04 00:00:00
9568,68091856,Manager Technical Operations,Shepton Mallet,non_specified,permanent,Index Recruitment,IT Jobs,62004,totaljobs.com,2012-03-06 00:00:00,2012-02-05 00:00:00
11043,68290941,Planning Enforcement Officer,London,full_time,contract,Randstad,Engineering Jobs,39360,jobs.planningresource.co.uk,2013-11-05 00:00:00,2013-10-06 00:00:00
12473,68360715,Penetration Tester / Reverse Engineer,UK,non_specified,contract,Vertex Solutions,IT Jobs,76908,cwjobs.co.uk,2013-12-22 15:00:00,2013-10-23 15:00:00
19142,68729089,Registered Home Manager Loughborough,Loughborough,full_time,non_specified,Compass Associates Ltd,Healthcare & Nursing Jobs,42504,staffnurse.com,2012-08-03 15:00:00,2012-05-05 15:00:00
24206,69173205,"User Interface/Ui Developer Javascript, Jquer...",London,non_specified,permanent,Dawson & Walsh,IT Jobs,45000,totaljobs.com,2013-06-22 15:00:00,2013-03-24 15:00:00
24297,69181738,Registered General Nurse (Rgn)/ Registered Men...,Poole,full_time,non_specified,Executive Care Group Ltd,Healthcare & Nursing Jobs,24960,staffnurse.com,2013-01-16 00:00:00,2012-10-18 00:00:00
25039,69228213,"Scientific (Physics, Or Chemistry, Or Electron...",Warrington,full_time,permanent,NaN,Engineering Jobs,24996,fish4.co.uk,2013-07-08 12:00:00,2013-06-08 12:00:00

#### Fix:
We propose a solution to this semantic error which is reverse the `OpenDate` and the `CloseDate`, which is reverse the `CloseDate` and `OpenDate`

In [48]:
df1_date = df1[['OpenDate','CloseDate']]

In [49]:
df1[['OpenDate','CloseDate']] = pd.concat([df1_date.min(axis=1), df1_date.max(axis=1)], axis=1)

In [50]:
#output the dataframe
df1.to_csv('./dataset1_solution.csv',index=False)

## 3. Summary
- There are quite a lot of ways to indentify dirty data, it is quite dependent on the method.
- It can happen from time to time that we cannot fix or need to preserve the seemingly unclean data
### Reference
 1. Jellyfish. Retrieved from: https://jellyfish.readthedocs.io/en/latest/