# Tutorial 1B Hands on data - wrangling data with Python & pandas

In two parts:
* reproducing the DataWrangler process (using the same 'Air crashes' data) and 
* bad, bad data investigations

** Before you start, a most important thing to do, check your python version**

In [1]:
import sys
print (sys.version_info)

sys.version_info(major=3, minor=6, micro=4, releaselevel='final', serial=0)

In [2]:
import pandas as pd # not the bamboo eating bear... 'Panel Data'

# Part 1 
## Step 1 Read data

In [3]:
# load data
df = pd.read_csv('AirCrashes.csv') # df is a dataframe, confirm with: type(df)
df.shape

(927, 1)

#### How many lines of data?
#### How many did you get with DataWrangler?

Have a look a the first few rows:

In [4]:
df.head()

           Incident American Airlines Flight 11 involving a Boeing 767-223ER in 2001
Casualties                                     Extremely High
Total Dead                                               1692
Crew                                                       11
Passengers                                                 81
Ground                                                   1600

That's not quite right.. the first line has been stolen for the title/header
#### Does read_csv ignore empty lines? 
e.g. line 18 should be blank

skip_blank_lines = True (the default) see:

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

Try again, force our own headers upon the data using default column names from DataWrangler (split/extract etc.) 

This pushes the first incident down into the data where it belongs (but adds a NaN, below)

In [5]:
df = pd.read_csv('AirCrashes.csv', names = ['split', 'split1']) 
# column names (split, split1) replicate DataWrangler column names

df.head(10)

                                               split                    split1
0  Incident American Airlines Flight 11 involving...                       NaN
1                                         Casualties            Extremely High
2                                         Total Dead                      1692
3                                               Crew                        11
4                                         Passengers                        81
5                                             Ground                      1600
6                                              Notes              No survivors
7                                               Type                       INH
8                                             Reason                    Attack
9                                           Location  New York - New York - US

## Step 2 Extract index(s)

### Extract flight information
The flight information is between "Incident" and "involving" in the "split" cell.
Now, extract flights based on one of the suggestions from DataWrangler, i.e., "(Incident (.*) involving)".

In [6]:
# treat the 'split' column as a str, then 
# use the extract method on the str
flight_no = df['split'].str.extract("Incident (.*) involving")

/home/zby0902/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  app.launch_new_instance()

### That seems to have worked...

We got 'American Airlines Flight 11' and 'United Airlines Flight 175' etc but lost all the other data and gained a bunch of NaNs

#### What is this 'str.extract' code anyway? (add a comment to decode or explain it)
>**Answer** To extract substring from each cell in this roll that mathches the pattern of the regular expression
extract("Incident (.*) involving")


### But we want planes in a new column, we can create one called 'extract' like this:

df['extract'] = df['split'].str.extract("Incident (.*) involving")

But this would be the last column, we want it in the second (location is not critical but it can be done so why not). 

Now, use the DataFrame's insert function.

In [7]:
df.insert(loc=1,column='extract',value=flight_no)

In [8]:
df.head(20)

,split,extract,split1
0,Incident American Airlines Flight 11 involving...,American Airlines Flight 11,NaN
1,Casualties,NaN,Extremely High
2,Total Dead,NaN,1692
3,Crew,NaN,11
4,Passengers,NaN,81
5,Ground,NaN,1600
6,Notes,NaN,No survivors
7,Type,NaN,INH
8,Reason,NaN,Attack
9,Location,NaN,New York - New York - US
10,Country,NaN,US
11,Phase,NaN,ENR
12,Date,NaN,2001-09-11
13,Latitude,NaN,40.7143528
14,Longitude,NaN,-74.0059731
15,Circumstances,NaN,Good Visibility by Day
16,Incident United Airlines Flight 175 involving ...,United Airlines Flight 175,NaN
17,Casualties,NaN,Extremely High
18,Total Dead,NaN,965
19,Crew,NaN,9

So there's the flight information in it's own column, plus a whole lot of NaNs

We could replace all the NaN with spaces or similar but they can wait

Now we want the aircraft in it's own column, similar to above, 
based on the suggestion from DataWrangler, note spaces in "\ a (.*)\ in "

#### but is this optimal?

In [9]:
# and repeat to get the aircraft type that appears between "a" and "in"
aircraft_type = df['split'].str.extract("\ a (.*)\ in ")
df.insert(loc=2,column='extract1',value=aircraft_type)
# and df.head(20) to confirm
df.head(20)

/home/zby0902/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  from ipykernel import kernelapp as app

,split,extract,extract1,split1
0,Incident American Airlines Flight 11 involving...,American Airlines Flight 11,Boeing 767-223ER,NaN
1,Casualties,NaN,NaN,Extremely High
2,Total Dead,NaN,NaN,1692
3,Crew,NaN,NaN,11
4,Passengers,NaN,NaN,81
5,Ground,NaN,NaN,1600
6,Notes,NaN,NaN,No survivors
7,Type,NaN,NaN,INH
8,Reason,NaN,NaN,Attack
9,Location,NaN,NaN,New York - New York - US
10,Country,NaN,NaN,US
11,Phase,NaN,NaN,ENR
12,Date,NaN,NaN,2001-09-11
13,Latitude,NaN,NaN,40.7143528
14,Longitude,NaN,NaN,-74.0059731
15,Circumstances,NaN,NaN,Good Visibility by Day
16,Incident United Airlines Flight 175 involving ...,United Airlines Flight 175,Boeing 767-222,NaN
17,Casualties,NaN,NaN,Extremely High
18,Total Dead,NaN,NaN,965
19,Crew,NaN,NaN,9

Drop the empty lines

In [10]:
df['split'].duplicated();

In [11]:
df = df.dropna(how='all') 
df

,split,extract,extract1,split1
0,Incident American Airlines Flight 11 involving...,American Airlines Flight 11,Boeing 767-223ER,NaN
1,Casualties,NaN,NaN,Extremely High
2,Total Dead,NaN,NaN,1692
3,Crew,NaN,NaN,11
4,Passengers,NaN,NaN,81
5,Ground,NaN,NaN,1600
6,Notes,NaN,NaN,No survivors
7,Type,NaN,NaN,INH
8,Reason,NaN,NaN,Attack
9,Location,NaN,NaN,New York - New York - US
10,Country,NaN,NaN,US
11,Phase,NaN,NaN,ENR
12,Date,NaN,NaN,2001-09-11
13,Latitude,NaN,NaN,40.7143528
14,Longitude,NaN,NaN,-74.0059731
15,Circumstances,NaN,NaN,Good Visibility by Day
16,Incident United Airlines Flight 175 involving ...,United Airlines Flight 175,Boeing 767-222,NaN
17,Casualties,NaN,NaN,Extremely High
18,Total Dead,NaN,NaN,965
19,Crew,NaN,NaN,9
20,Passengers,NaN,NaN,56
21,Ground,NaN,NaN,900
22,Notes,NaN,NaN,No survivors
23,Type,NaN,NaN,INH
24,Reason,NaN,NaN,Attack
25,Location,NaN,NaN,New York - New York - US
26,Country,NaN,NaN,USA
27,Phase,NaN,NaN,ENR
28,Date,NaN,NaN,2001-09-11
29,Latitude,NaN,NaN,40.7143528
...,...,...,...,...
898,Total Dead,NaN,NaN,150
899,Crew,NaN,NaN,14
900,Passengers,NaN,NaN,146
901,Ground,NaN,NaN,0
902,Notes,NaN,NaN,No survivors
903,Type,NaN,NaN,COM
904,Reason,NaN,NaN,Accident
905,Location,NaN,NaN,Xian - China
906,Country,NaN,NaN,China
907,Phase,NaN,NaN,ENR
908,Date,NaN,NaN,1984-06-06
909,Latitude,NaN,NaN,34.341568
910,Longitude,NaN,NaN,108.940175
911,Circumstances,NaN,NaN,Bad Visibility by Night
912,Incident American Airlines Flight 965 involvin...,American Airlines Flight 965,Boeing Tu-154M,NaN
913,Casualties,NaN,NaN,Extremely High
914,Total Dead,NaN,NaN,159
915,Crew,NaN,NaN,8
916,Passengers,NaN,NaN,151
917,Ground,NaN,NaN,0
918,Notes,NaN,NaN,Some survivors
919,Type,NaN,NaN,COM
920,Reason,NaN,NaN,Accident
921,Location,NaN,NaN,Buga - Colombia
922,Country,NaN,NaN,Colombia
923,Phase,NaN,NaN,APR
924,Date,NaN,NaN,1995-12-20
925,Latitude,NaN,NaN,3.9
926,Longitude,NaN,NaN,-76.3
927,Circumstances,NaN,NaN,Bad Visibility by Night

## Step 3  'Fill down'

We want to 'fill down' the indexes  (e.g. lines 1 to 15 should be associated with line 0)

There are several options
* na.locf() method from zoo package. 
* ddply() from plyr
* bfill()
* fillna()

In [12]:
# magic, take the previous value (not NaN) and fill down
df = df.fillna(method='pad')
# http://pandas.pydata.org/pandas-docs/stable/missing_data.html#filling-missing-values-fillna

In [13]:
df.head(200)

,split,extract,extract1,split1
0,Incident American Airlines Flight 11 involving...,American Airlines Flight 11,Boeing 767-223ER,NaN
1,Casualties,American Airlines Flight 11,Boeing 767-223ER,Extremely High
2,Total Dead,American Airlines Flight 11,Boeing 767-223ER,1692
3,Crew,American Airlines Flight 11,Boeing 767-223ER,11
4,Passengers,American Airlines Flight 11,Boeing 767-223ER,81
5,Ground,American Airlines Flight 11,Boeing 767-223ER,1600
6,Notes,American Airlines Flight 11,Boeing 767-223ER,No survivors
7,Type,American Airlines Flight 11,Boeing 767-223ER,INH
8,Reason,American Airlines Flight 11,Boeing 767-223ER,Attack
9,Location,American Airlines Flight 11,Boeing 767-223ER,New York - New York - US
10,Country,American Airlines Flight 11,Boeing 767-223ER,US
11,Phase,American Airlines Flight 11,Boeing 767-223ER,ENR
12,Date,American Airlines Flight 11,Boeing 767-223ER,2001-09-11
13,Latitude,American Airlines Flight 11,Boeing 767-223ER,40.7143528
14,Longitude,American Airlines Flight 11,Boeing 767-223ER,-74.0059731
15,Circumstances,American Airlines Flight 11,Boeing 767-223ER,Good Visibility by Day
16,Incident United Airlines Flight 175 involving ...,United Airlines Flight 175,Boeing 767-222,Good Visibility by Day
17,Casualties,United Airlines Flight 175,Boeing 767-222,Extremely High
18,Total Dead,United Airlines Flight 175,Boeing 767-222,965
19,Crew,United Airlines Flight 175,Boeing 767-222,9
20,Passengers,United Airlines Flight 175,Boeing 767-222,56
21,Ground,United Airlines Flight 175,Boeing 767-222,900
22,Notes,United Airlines Flight 175,Boeing 767-222,No survivors
23,Type,United Airlines Flight 175,Boeing 767-222,INH
24,Reason,United Airlines Flight 175,Boeing 767-222,Attack
25,Location,United Airlines Flight 175,Boeing 767-222,New York - New York - US
26,Country,United Airlines Flight 175,Boeing 767-222,USA
27,Phase,United Airlines Flight 175,Boeing 767-222,ENR
28,Date,United Airlines Flight 175,Boeing 767-222,2001-09-11
29,Latitude,United Airlines Flight 175,Boeing 767-222,40.7143528
...,...,...,...,...
170,Country,American Airlines Flight 191,McDonnell Douglas DC-10-10,US
171,Phase,American Airlines Flight 191,McDonnell Douglas DC-10-10,TOF
172,Date,American Airlines Flight 191,McDonnell Douglas DC-10-10,1979-05-25
173,Latitude,American Airlines Flight 191,McDonnell Douglas DC-10-10,42.0333623
174,Longitude,American Airlines Flight 191,McDonnell Douglas DC-10-10,-87.8833991
175,Circumstances,American Airlines Flight 191,McDonnell Douglas DC-10-10,Bad Visibility by Night
176,Incident Pan Am Flight 103 involving a Boeing ...,Pan Am Flight 103,Boeing 747-121,Bad Visibility by Night
177,Casualties,Pan Am Flight 103,Boeing 747-121,Extremely High
178,Total Dead,Pan Am Flight 103,Boeing 747-121,270
179,Crew,Pan Am Flight 103,Boeing 747-121,16
180,Passengers,Pan Am Flight 103,Boeing 747-121,243
181,Ground,Pan Am Flight 103,Boeing 747-121,11
182,Notes,Pan Am Flight 103,Boeing 747-121,No survivors
183,Type,Pan Am Flight 103,Boeing 747-121,INB
184,Reason,Pan Am Flight 103,Boeing 747-121,Attack
185,Location,Pan Am Flight 103,Boeing 747-121,Lockerbie - Scotland - UK
186,Country,Pan Am Flight 103,Boeing 747-121,UK
187,Phase,Pan Am Flight 103,Boeing 747-121,ENR
188,Date,Pan Am Flight 103,Boeing 747-121,1988-12-21
189,Latitude,Pan Am Flight 103,Boeing 747-121,55.122245
190,Longitude,Pan Am Flight 103,Boeing 747-121,-3.349008
191,Circumstances,Pan Am Flight 103,Boeing 747-121,Bad Visibility by Night
192,Incident Korean Air Lines Flight 007 involving...,Korean Air Lines Flight 007,Boeing 747-230B,Bad Visibility by Night
193,Casualties,Korean Air Lines Flight 007,Boeing 747-230B,Extremely High
194,Total Dead,Korean Air Lines Flight 007,Boeing 747-230B,269
195,Crew,Korean Air Lines Flight 007,Boeing 747-230B,23
196,Passengers,Korean Air Lines Flight 007,Boeing 747-230B,246
197,Ground,Korean Air Lines Flight 007,Boeing 747-230B,0
198,Notes,Korean Air Lines Flight 007,Boeing 747-230B,No survivors
199,Type,Korean Air Lines Flight 007,Boeing 747-230B,EXS

## Step 4 Remove the index row

We need to delete all the 'incident' rows, they have served their purpose and are now redundant.

In [14]:
df[df['split'].str.contains('Incident')].index

Int64Index([  0,  16,  32,  48,  64,  80,  96, 112, 128, 144, 160, 176, 192,
            208, 224, 240, 256, 272, 288, 304, 320, 336, 352, 368, 384, 400,
            416, 432, 448, 464, 480, 496, 512, 528, 544, 560, 576, 592, 608,
            624, 640, 656, 672, 688, 704, 720, 736, 752, 768, 784, 800, 816,
            832, 848, 864, 880, 896, 912],
           dtype='int64')

In [15]:
# use str.contain function to get the row index.
# keep everything that doesn't have "Incident" in it 
df = df.drop(df[df['split'].str.contains('Incident')].index)
# do we need to worry about a plane called "Incident" or "Incident weather" etc???

In [16]:
# and check with e.g. df.shape 
print(df.shape)
df

(870, 4)

,split,extract,extract1,split1
1,Casualties,American Airlines Flight 11,Boeing 767-223ER,Extremely High
2,Total Dead,American Airlines Flight 11,Boeing 767-223ER,1692
3,Crew,American Airlines Flight 11,Boeing 767-223ER,11
4,Passengers,American Airlines Flight 11,Boeing 767-223ER,81
5,Ground,American Airlines Flight 11,Boeing 767-223ER,1600
6,Notes,American Airlines Flight 11,Boeing 767-223ER,No survivors
7,Type,American Airlines Flight 11,Boeing 767-223ER,INH
8,Reason,American Airlines Flight 11,Boeing 767-223ER,Attack
9,Location,American Airlines Flight 11,Boeing 767-223ER,New York - New York - US
10,Country,American Airlines Flight 11,Boeing 767-223ER,US
11,Phase,American Airlines Flight 11,Boeing 767-223ER,ENR
12,Date,American Airlines Flight 11,Boeing 767-223ER,2001-09-11
13,Latitude,American Airlines Flight 11,Boeing 767-223ER,40.7143528
14,Longitude,American Airlines Flight 11,Boeing 767-223ER,-74.0059731
15,Circumstances,American Airlines Flight 11,Boeing 767-223ER,Good Visibility by Day
17,Casualties,United Airlines Flight 175,Boeing 767-222,Extremely High
18,Total Dead,United Airlines Flight 175,Boeing 767-222,965
19,Crew,United Airlines Flight 175,Boeing 767-222,9
20,Passengers,United Airlines Flight 175,Boeing 767-222,56
21,Ground,United Airlines Flight 175,Boeing 767-222,900
22,Notes,United Airlines Flight 175,Boeing 767-222,No survivors
23,Type,United Airlines Flight 175,Boeing 767-222,INH
24,Reason,United Airlines Flight 175,Boeing 767-222,Attack
25,Location,United Airlines Flight 175,Boeing 767-222,New York - New York - US
26,Country,United Airlines Flight 175,Boeing 767-222,USA
27,Phase,United Airlines Flight 175,Boeing 767-222,ENR
28,Date,United Airlines Flight 175,Boeing 767-222,2001-09-11
29,Latitude,United Airlines Flight 175,Boeing 767-222,40.7143528
30,Longitude,United Airlines Flight 175,Boeing 767-222,-74.0059731
31,Circumstances,United Airlines Flight 175,Boeing 767-222,Good Visibility by Day
...,...,...,...,...
897,Casualties,China Northwest Airlines Flight 2303,Tupolev Tu-154M,Extremely High
898,Total Dead,China Northwest Airlines Flight 2303,Tupolev Tu-154M,150
899,Crew,China Northwest Airlines Flight 2303,Tupolev Tu-154M,14
900,Passengers,China Northwest Airlines Flight 2303,Tupolev Tu-154M,146
901,Ground,China Northwest Airlines Flight 2303,Tupolev Tu-154M,0
902,Notes,China Northwest Airlines Flight 2303,Tupolev Tu-154M,No survivors
903,Type,China Northwest Airlines Flight 2303,Tupolev Tu-154M,COM
904,Reason,China Northwest Airlines Flight 2303,Tupolev Tu-154M,Accident
905,Location,China Northwest Airlines Flight 2303,Tupolev Tu-154M,Xian - China
906,Country,China Northwest Airlines Flight 2303,Tupolev Tu-154M,China
907,Phase,China Northwest Airlines Flight 2303,Tupolev Tu-154M,ENR
908,Date,China Northwest Airlines Flight 2303,Tupolev Tu-154M,1984-06-06
909,Latitude,China Northwest Airlines Flight 2303,Tupolev Tu-154M,34.341568
910,Longitude,China Northwest Airlines Flight 2303,Tupolev Tu-154M,108.940175
911,Circumstances,China Northwest Airlines Flight 2303,Tupolev Tu-154M,Bad Visibility by Night
913,Casualties,American Airlines Flight 965,Boeing Tu-154M,Extremely High
914,Total Dead,American Airlines Flight 965,Boeing Tu-154M,159
915,Crew,American Airlines Flight 965,Boeing Tu-154M,8
916,Passengers,American Airlines Flight 965,Boeing Tu-154M,151
917,Ground,American Airlines Flight 965,Boeing Tu-154M,0
918,Notes,American Airlines Flight 965,Boeing Tu-154M,Some survivors
919,Type,American Airlines Flight 965,Boeing Tu-154M,COM
920,Reason,American Airlines Flight 965,Boeing Tu-154M,Accident
921,Location,American Airlines Flight 965,Boeing Tu-154M,Buga - Colombia
922,Country,American Airlines Flight 965,Boeing Tu-154M,Colombia
923,Phase,American Airlines Flight 965,Boeing Tu-154M,APR
924,Date,American Airlines Flight 965,Boeing Tu-154M,1995-12-20
925,Latitude,American Airlines Flight 965,Boeing Tu-154M,3.9
926,Longitude,American Airlines Flight 965,Boeing Tu-154M,-76.3
927,Circumstances,American Airlines Flight 965,Boeing Tu-154M,Bad Visibility by Night

## Now to 'unfold', there are several options

* melt()
* stack, unstack?
* pivot_table()
* pivot()

http://pandas.pydata.org/pandas-docs/stable/reshaping.html

In [17]:
data = df.pivot('extract', 'split', 'split1') 
# the parameters above are (left to right) index, columns, values 
# You can also write it like this:
#data = df.pivot(index = 'extract', columns = 'split', values = 'split1')

In [18]:
data.shape

(58, 15)

In [19]:
data.head() # 58 records, good, but lost plane type, bad
# where's 'extract1' - can we have multiple indexes or have to put that data back in?

split,Casualties,Circumstances,Country,Crew,Date,Ground,Latitude,Location,Longitude,Notes,Passengers,Phase,Reason,Total Dead,Type
extract,,,,,,,,,,,,,,,
Aeroflot Flight 217,Extremely High,Bad Visibility by Day,Russia,10,1972-10-13,0,55.755826,Moscow - Russia,37.6173,No survivors,164,APR,Accident,174,COM
Aeroflot Flight 3352,Extremely High,Bad Visibility by Night,Russia,5,1984-10-11,4,54.9666667,Omsk - Russia,73.3833333,Some survivors,169,LDG,Accident,178,COM
Aeroflot Flight 4227,Extremely High,Bad Visibility by Night,Kazakhstan,10,1890-07-08,0,43.255058,Almaty - Kazakhstan,76.912628,No survivors,156,ENR,Accident,166,COM
Aeroflot Flight 7425,Extremely High,Bad Visibility by Night,Uzbekistan,9,1985-07-10,0,42.1566667,Uchkuduk - Uzbekistan,63.5555556,No survivors,191,ENR,Accident,0,COM
Aeroflot/Moldovia (CCCP-65816),Extremely High,Bad Visibility by Night,Kazakhstan,13,1979-08-11,0,48.8125,Saykyn - Kazakhstan,46.7636111,No survivors,165,ENR,Accident,178,COM

In [20]:
df.pivot(['extract','extract1'], 'split', 'split1')

ValueError: Wrong number of items passed 870, placement implies 2

### Problem:

we have two columns we want to pivot on, 'extract' & 'extract1' (AKA flight & plane) but

pivot() can't have multiple indexes...

e.g. df.pivot(index = ['extract','extract1'], 'split', 'split1') # error

pivot_table() can but insists on doing some accounting or aggreagating too, like sum or avg, which we don't need

e.g. pd.pivot_table(df, values='split1', index = ['extract','extract1'], columns='split') # error, no function 

### Solutions? 

use pivot() then force the other column back into the data?? 

or trick pivot_table() into doing some pointless accounting (that adds up to nothing)??

try something else... stack, unstack, group, dplyr?

DIY code??



![](http://www.desktopimages.org/pictures/2014/0212/1/orig_150933.jpg)

In [21]:
# solution: make the function a copy, x = x
# data = pd.pivot_table(df, index=["extract","extract1"], columns = 'split', values = 'split1', aggfunc = lambda x: x)   
# or 
data = pd.pivot_table(df, index=["extract","extract1"], columns = 'split', values = 'split1', aggfunc = 'max') 
# ha, cop that
# http://stackoverflow.com/questions/19279229/pandas-pivot-table-with-non-numeric-values-dataerror-no-numeric-types-to-ag

data # not using df anymore, keep it as backup

,split,Casualties,Circumstances,Country,Crew,Date,Ground,Latitude,Location,Longitude,Notes,Passengers,Phase,Reason,Total Dead,Type
extract,extract1,,,,,,,,,,,,,,,
Aeroflot Flight 217,Ilyushin Il-62,Extremely High,Bad Visibility by Day,Russia,10,1972-10-13,0,55.755826,Moscow - Russia,37.6173,No survivors,164,APR,Accident,174,COM
Aeroflot Flight 3352,Tupolev Tu-154,Extremely High,Bad Visibility by Night,Russia,5,1984-10-11,4,54.9666667,Omsk - Russia,73.3833333,Some survivors,169,LDG,Accident,178,COM
Aeroflot Flight 4227,Tupolev Tu-154B-2,Extremely High,Bad Visibility by Night,Kazakhstan,10,1890-07-08,0,43.255058,Almaty - Kazakhstan,76.912628,No survivors,156,ENR,Accident,166,COM
Aeroflot Flight 7425,Tupolev Tu-154B-2,Extremely High,Bad Visibility by Night,Uzbekistan,9,1985-07-10,0,42.1566667,Uchkuduk - Uzbekistan,63.5555556,No survivors,191,ENR,Accident,0,COM
Aeroflot/Moldovia (CCCP-65816),Tupolev Tu-134A(both),Extremely High,Bad Visibility by Night,Kazakhstan,13,1979-08-11,0,48.8125,Saykyn - Kazakhstan,46.7636111,No survivors,165,ENR,Accident,178,COM
African Air (RA-26222),Antonov An-32B,Extremely High,Bad Visibility by Night,DR Congo,0,1996-01-08,237,-4.3316667,Kinshasa - DR Congo,15.3138889,Some survivors,0,ICL,Accident,37,COM
Air France Flight 447,Airbus A330-203,Extremely High,Bad Visibility by Night,Sao Pedro,12,2009-06-01,0,03.065833,Atlantic Ocean - Sao Pedro,-30.561667,No survivors,216,ENR,Accident,228,COM
Air India Flight 182,Boeing 747-237B,Extremely High,Bad Visibility by Night,Ireland,22,1985-06-23,0,51.8968917,Atlantic Ocean - Cork - Ireland,-8.4863157,No survivors,307,ENR,Attack,329,INB
Air India Flight 855,Boeing 747-237B,Extremely High,Bad Visibility by Night,India,23,1978-01-01,0,19.0759837,Arabian Sea - Mumbai - India,72.8776559,No survivors,190,ENR,Accident,213,COM
Air New Zealand Flight 901,McDonnell Douglas DC-10-30,Extremely High,Bad Visibility by Night,Antarctica,20,1979-11-28,0,-77.5310559,Mt. Erebus - Antarctica,167.0757008,No survivors,237,ENR,Accident,257,COM
Alas Nacionales Flight 301,Boeing 757-225,Extremely High,Bad Visibility by Night,Dominican Republic,13,1996-02-06,0,19.7807686,Atlantic Ocean - Puerto Plata - Dominican Repu...,-70.6871091,No survivors,176,ENR,Accident,189,COM
Alia Royal Jordanian (JY-AEE),Boeing 707-321C,Extremely High,Bad Visibility by Night,Morocco,7,1975-08-03,0,30.6981676,Tamri - Morocco,-9.8208632,No survivors,181,ENR,Accident,188,COM
All Nippon Airways Flight 58 and,Boeing 727-281 andÂ F-86 Sabre,Extremely High,Bad Visibility by Night,Japan,7,1971-07-30,0,39.6962875,Shizukuishi - Japan,140.9757756,One survivor,155,ENR,Accident,162,COM
American Airlines Flight 11,Boeing 767-223ER,Extremely High,Good Visibility by Day,US,11,2001-09-11,1600,40.7143528,New York - New York - US,-74.0059731,No survivors,81,ENR,Attack,1692,INH
American Airlines Flight 191,McDonnell Douglas DC-10-10,Extremely High,Bad Visibility by Night,US,13,1979-05-25,2,42.0333623,Des Plaines - Illinois - US,-87.8833991,No survivors,258,TOF,Accident,273,COM
American Airlines Flight 587,Airbus A300B4-605R,Extremely High,Bad Visibility by Night,US,9,2001-11-12,5,40.5759385,Belle Harbor - New York - US,-73.8481906,No survivors,251,ENR,Accident,265,COM
American Airlines Flight 77,Boeing 757-223,Extremely High,Bad Visibility by Day,US,6,2001-09-11,125,38.8799697,Arlington - Virginia - US,-77.1067698,No survivors,64,ENR,Attack,189,INH
American Airlines Flight 965,Boeing Tu-154M,Extremely High,Bad Visibility by Night,Colombia,8,1995-12-20,0,3.9,Buga - Colombia,-76.3,Some survivors,151,APR,Accident,159,COM
Arrow Air Flight 1285,Douglas DC-8-63CF,Extremely High,Bad Visibility by Night,Canada,8,1985-12-12,0,48.954408,Gander - NL. - Canada,-54.6103488,No survivors,248,ICL,Accident,256,COM
Avianca Flight 011,Boeing 747-283B,Extremely High,Bad Visibility by Night,Spain,181,1983-11-27,0,40.4167754,Madrid - Spain,-3.7037902,Some survivors,162,APR,Accident,181,COM
British Airways Flight 476 and,Hawker Siddeley Trident 3BÂ and,Extremely High,Bad Visibility by Night,Croatia,14,1976-09-10,1,45.8839523,Vrbovec - Croatia,16.416766,No survivors,162,ENR,Accident,177,COM
Caspian Airlines Flight 7908,Tupolev Tu-154M,Extremely High,Bad Visibility by Night,Iran,12,2009-07-15,0,36.266819,Qazvin - Iran,50.003811,No survivors,156,ENR,Accident,168,COM
China Airlines Flight 140,Airbus A300B4-622R,Extremely High,Bad Visibility by Night,Japan,15,1994-04-26,0,35.2903104,Komaki - Japan,136.9109515,Some survivors,249,APR,Accident,264,COM
China Airlines Flight 611,Boeing 747-209B,Extremely High,Bad Visibility by Night,China,19,2002-05-25,0,23.5025,Taiwan Strait - Penghu Islands - China,119.5052778,No survivors,206,ENR,Accident,225,COM
China Airlines Flight 676,Airbus A300-622R,Extremely High,Bad Visibility by Night,China,14,1998-02-16,7,25.0492632,Dayuan - Taiwan - China,121.193945,No survivors,182,APR,Accident,202,COM
China Northwest Airlines Flight 2303,Tupolev Tu-154M,Extremely High,Bad Visibility by Night,China,14,1984-06-06,0,34.341568,Xian - China,108.940175,No survivors,146,ENR,Accident,150,COM
Cubana de AviaciÃ³n Flight 9646,Ilyushin II-62M,Extremely High,Bad Visibility by Day,Cuba,11,1989-09-03,45,23.1168,Havana - Cuba,-82.388557,No survivors,115,ICL,Accident,171,COM
Dana Air Flight 992,McDonnell Douglas MD-83,Extremely High,Bad Visibility by Night,Nigeria,6,2012-06-03,10,6.441158,Lagos - Nigeria,3.417977,No survivors,147,APR,Accident,163,COM
EgyptAir Flight 990,Boeing 767-366ER,Extremely High,Bad Visibility by Night,US,15,1999-10-31,0,41.2834704,Atlantic Ocean - Nantucket - Massachusetts - US,-70.099451,No survivors,202,ENR,Accident,217,COM
Garuda Indonesia Flight 152,Airbus A300B4-220,Extremely High,Bad Visibility by Night,Indonesia,12,1997-09-26,0,3.585242,Medan - Indonesia,98.6755979,No survivors,222,APR,Accident,234,COM
Icelandic Airlines Flight LL 001,Douglas DC-8,Extremely High,Bad Visibility by Night,Sri Lanka,8,1978-11-15,0,7.1696231,Katunayake - Sri Lanka,79.8912813,Some survivors,175,APR,Accident,183,COM
Inex-Adria Aviopromet Flight 1308,McDonnell Douglas MD-81,Extremely High,Bad Visibility by Night,France,7,1981-12-01,0,41.7588889,Mt. San Pietro - Petreto-Bicchisano - Corsica ...,8.9916667,No survivors,173,ENR,Accident,180,COM
Iran Air Flight 655,Airbus A300B2-203,Extremely High,Bad Visibility by Night,Iran,16,1988-07-03,0,26.5944754,Strait of Hormuz - Iran,56.4719928,No survivors,274,ENR,Attack,290,EXG
Iranian Air Force (15-2280),Ilyushin Il-76MD,Extremely High,Bad Visibility by Night,Iran,18,2003-02-19,0,30.28027,Kerman - Iran,57.06702,No survivors,257,ENR,Accident,275,MIL
Japan Airlines Flight 123,Beoing 747SR-46,Extremely High,Bad Visibility by Night,Japan,15,1985-08-12,0,35.7089461,Ueno - Japan,139.7742683,Some survivors,505,ENR,Accident,520,COM
Kenya Airways Flight 431,Airbus A310-304,Extremely High,Bad Visibility by Night,Cote d'Ivoire,10,2000-01-30,0,3.7355442,Gulf of Guinea - Cote d'Ivoire,3.743509,Some survivors,159,ENR,Accident,169,COM
Korean Air Flight 801,Boeing 747-3B5,Extremely High,Bad Visibility by Night,US,22,1997-08-06,0,13.4666808,Asan - Guam - US,144.7454685,Some survivors,206,APR,Accident,228,COM
Korean Air Lines Flight 007,Boeing 747-230B,Extremely High,Bad Visibility by Night,Russia,23,1983-09-01,0,46.25,Sea of Japan - Moneron Island - Russia,141.2333333,No survivors,246,ENR,Attack,269,EXS
LOT Flight 5055,Ilyushin Il-62M,Extremely High,Bad Visibility by Night,Poland,11,1987-05-09,0,52.2296756,Warsaw - Poland,21.0122287,No survivors,172,ENR,Accident,183,COM
Lauda Air Flight 004,Boeing 767-3Z9ER,Extremely High,Bad Visibility by Night,Thailand,10,1991-05-26,0,14.9413999,Phu Toei National Park - Thailand,99.4490951,No survivors,213,ENR,Accident,223,COM
Martinair Holland Flight 138,Douglas DC-8-55F,Extremely High,Bad Visibility by Night,Sri Lanka,9,1974-12-04,0,6.8329294,Maskeliya - Sri Lanka,80.5709256,No survivors,182,ENR,Accident,191,COM
Mexicana Flight 940,Boeing 727-264,Extremely High,Bad Visibility by Night,Mexico,8,1986-03-31,0,-100.4233685,Sierra Madre Oriental Mountains - Mexico,-100.4233685,No survivors,159,ENR,Accident,167,COM
Nigeria Airways (JY-ADO),Boeing 707-3D3C,Extremely High,Bad Visibility by Day,Nigeria,6,1973-01-22,0,12,Kano - Nigeria,8.516667,Some survivors,170,LDG,Accident,176,COM
Nigeria Airways Flight 2120,Douglas DC-8-61,Extremely High,Bad Visibility by Night,Saudi Arabia,14,1991-07-11,0,21.5433333,Jeddah - Saudi Arabia,39.1727778,No survivors,247,APR,Accident,261,COM
Pakistan International Airlines Flight 268,Airbus A300B4-200,Extremely High,Bad Visibility by Night,Nepal,12,1992-09-28,0,27.7,Kathmandu - Nepal,85.3333333,No survivors,155,APR,Accident,167,COM
Pan Am Flight 103,Boeing 747-121,Extremely High,Bad Visibility by Night,UK,16,1988-12-21,11,55.122245,Lockerbie - Scotland - UK,-3.349008,No survivors,243,ENR,Attack,270,INB
Pan Am Flight 1736 and KLM Flight 4805,Boeing 747-121 andÂ Boeing 747-206B,Extremely High,Bad Visibility by Day,Spain,23,1977-03-27,0,28.2915637,Tenerife - Spain,-16.6291304,Some survivors,560,TOF,Accident,583,COM
Pulkovo Flight 612,Tupolev Tu-154M,Extremely High,Bad Visibility by Night,Ukraine,10,2006-08-22,0,49.0702778,Novoselivka - Donetsk Obl. - Ukraine,37.6913889,No survivors,160,ENR,Accident,170,COM
Saudi Arabian Flight 763 and,Boeing 747-168B andÂ Ilyushin Il-76TD,Extremely High,Bad Visibility by Night,India,33,1996-11-12,0,28.6,Charkhi Dadri - India,76.2667,No survivors,316,ENR,Accident,349,
Saudia Flight 163,Lockheed L-1011-200 TriStar,Extremely High,Bad Visibility by Night,Saudi Arabia,14,1980-08-19,0,24.7116667,Riyadh - Saudi Arabia,46.7241667,No survivors,287,ENR,Accident,301,COM
Surinam Airways Flight 764,Douglas DC-8-62,Extremely High,Bad Visibility by Day,Surinam,9,1989-06-07,0,5.823201,Paramaribo - Surinam,-55.16788,No survivors,167,APR,Accident,176,COM
Swissair Flight 111,McDonnell Douglas MD-11,Extremely High,Bad Visibility by Day,Canada,14,1998-09-02,0,44.4927778,Atlantic Ocean - Peggys Cove - N.S. - Canada,-63.9175,No survivors,215,ENR,Accident,229,COM
TAM Airlines Flight 3054,Airbus A320-233,Extremely High,Bad Visibility by Night,Brazil,6,2007-07-17,12,-23.5489433,Sao Paulo - Brazil,-46.6388182,No survivors,181,LDG,Accident,199,COM
TWA Flight 800,Boeing 747-131,Extremely High,Bad Visibility by Night,US,18,1996-07-17,0,40.8050989,Atlantic Ocean - East Moriches - New York - US,-72.7609336,No survivors,212,ENR,Accident,230,COM
Turkish Airlines Flight 981,McDonnell Douglas DC-10-10,Extremely High,Bad Visibility by Night,France,11,1974-03-03,0,49.171795,Fontaine-Chaalis - France,2.684157,No survivors,335,ENR,Accident,346,COM
Union de Transportes AÃ©riens Flight 772,McDonnell Douglas DC-10-30,Extremely High,Bad Visibility by Night,Niger,14,1989-19-09,0,18.9546137,Tenere - Niger,10.9134609,No survivors,156,ENR,Attack,170,INB
United Airlines Flight 175,Boeing 767-222,Extremely High,Good Visibility by Day,USA,9,2001-09-11,900,40.7143528,New York - New York - US,-74.0059731,No survivors,56,ENR,Attack,965,INH
West Caribbean Airways Flight 708,McDonnell Douglas MD-82,Extremely High,Bad Visibility by Night,Venezuela,8,2005-08-16,0,10.06592,Machiques - Venezuela,-72.551872,No survivors,152,ENR,Accident,160,COM

### That's most of the wrangling as was done with DataWrangler, there are a few more optional steps:
* want the manufacturer e.g. Beoing?
* remove 'extract' & 'extract1'?
* rename columns ('split') 
* extract year into new column 
* export e.g. df.to_csv(file_name, sep=',')

In [ ]:
#data.reset_index()

# Part 2 

## Wait there's more:

Bad, bad data

This data has been deliberately damaged (sorry)

Some are obvious, some are subtle (some were already there... e.g. look for 'Ã‚')

### See if you can find them

In [ ]:
# start with a summary table
data.describe()

### describe() shows:

* count - we can see that there are 58 records across the board, no surprise (what would it mean if there were non 58s?)
* unique - looks like all the 'Casualties' are identical (unique = 1, i.e. all 'Extremely High'), maybe this column is redundant?
* top - interesting, there were two major disasters in the exact same place? Check dates?
* freq - also interesting, 3 times there were 156 passengers on flights... superstitious? Or is it bad data?

So some clues here, dig deeper:

In [ ]:
#We can also describe individual columns:
data['Crew'].describe()

In [ ]:
# nothing new here, the most common number crew size is 14 (7 times)
# what's the biggest crew?
data['Crew'].max()


Why 9 (or even '9')?

How can this max be less than 14?

Are these even numbers?

In [ ]:
data['Crew'].mean() # expecting ~15, they were all big planes?

This is weird

If they are numbers it should be higher

If they are not numbers, what does mean 'mean'?

In [ ]:
data[data['Crew'] == 14] # look at all the crew = 14 planes, should be 7

In [ ]:
# there are none... try this:
data[data['Crew'] == '14']

In [ ]:
# so there's a clue, 14 vs '14' 
# what are these data types anyway?
data.dtypes

### All data are of type object... 
### Overruled:

In [ ]:
data = data.convert_objects(convert_numeric = True) 
# this is a bit brutal, can you convert when data is loaded?

In [ ]:
data.dtypes

In [ ]:
# so now we have some numbers (int & float)
data.describe()

### Better, more information, describe() now shows:
* count - as above, all 58
* mean - crew ~15, seems OK, but mean lat & long doesn't mean much... or does it?
* std - Standard Deviation
* min - now we see some problems, zero crew? Was this a way to code a hijacking, or is it missing, or should it be 10, 20, 30?
* 25, 50 & 75% are quartiles...
* max - crew 181, no way! 1692 dead, no plane is that big... or could this be Lockerbie, i.e. plane hit town

Let's investigate the crew data:

In [ ]:
data[data['Crew'] > 20] # try also e.g. < 10

So Boeing 747s have large crews...
#### 33 crew is that possible? Or is that two flights?

#### 181 crew? Same value as for 'Total dead', can you derive crew from dead minus passengers?
(or does 'Some survivors' corrupt the maths?)


# Another way to explore... plot that data:

In [ ]:
%matplotlib inline 
# notebook majik to display plots in the notebook

data[['Crew','Passengers']].plot(x= 'Crew',y= 'Passengers',kind= 'scatter');

#### And there's the extreme outlier
#### Are there any others?

In [ ]:
# so how to put a number to an outlier?
data['Crew'].max() # works, now that they are numbers

In [ ]:
data[data['Crew']==data['Crew'].max()]

## Plotting non-numeric data

In [ ]:
data['Phase'].value_counts().plot(kind='bar');
# you can guess some of these codes
# ENR = en route?
# APR = Aproach
# Takeoff, Landing
# ICL?

In [ ]:
# not much point in plotting Casualties... so what the hey
data['Casualties'].value_counts().plot(kind='bar')

# To do: find any other data problems (there are about 10)

<br>

![](http://media1.popsugar-assets.com/files/thumbor/yjoSwHRBZ4MpTO3TN6lvI_gsKMI/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2016/03/02/901/n/1922283/01f64bd801c06153_game4/i/When-Everyone-Trying-Talk-You-Youre-Too-Hungry-Care.gif)

#### Post your suspected bad data cases in Moodle discussion forums, how you found it, and suggested fixes
(one or two each, share the load)

In [ ]:
# go crazy

#### Can data be 'typed' as it is read in? 
(yes see 'dtype')
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html
#### What happens if this process encounters bad data?

#### So why is 'Crew' max '9' above?

#### When a plane hits another plane is that one record or two?

#### Can DataWrangler do this sort of wrangling?